<%- include ('./include/header.ejs') %> 
<%- include ('./include/_dash_board.ejs') %>
<%- include ('./partials/messages') %>
  

<div class="dashboard">
    <div class="dashinging">
        <a href="/admin/all-learner/1" class="long-wide">
            <p class="dash">No of Learners</p>
            <p class="dash figure"><%= result %></p>
            <i id="fas" class="fas fa-user-graduate"></i>
        </a>
    </div>

    <div class="dashinging">
        <a href="/admin/all-subject/1" class="long-wide"> 
            <p class="dash">No of Subjects</p>
            <p class="dash figure"><%= resultone %></p>
            <i id="fas" class="fas fa-book"></i>
        </a>
    </div>

    <div class="dashinging">
        <a href="/admin/all-currentclass/1" class="long-wide"> 
            <p class="dash">No of Classes</p>
            <p class="dash figure"><%= resultfour %></p>
            <i id="fas" class="fas fa-home"></i>
        </a>
    </div>

    <div class="dashinging">
        
        <a href="/admin/all-session/1" class="long-wide">
            <p class="dash">No of Sessions</p>
            <p class="dash figure"><%= resultfive %></p>
            <i id="fas" class="fas fa-hourglass-start"></i>
        </a>
    </div>

    <div class="dashinging">
        <a href="/admin/all-section/1" class="long-wide">
            <p class="dash">No of Sections</p>
            <p class="dash figure"><%= resulttwo %></p>
            <i id="fas" class="fas fa-puzzle-piece"></i>
        </a>
    </div>

    <div class="dashinging">
        <a href="/admin/all-staffs" class="long-wide">
            <p class="dash">No of Staffs</p>
            <p class="dash figure"><%= resultthree %> </p>
            <i id="fas" class="fas fa-chalkboard-teacher"></i>
        </a>
    </div>
    
</div>

    <footer class="foot">
        <h3>All rights reserved and Powered by Dark theme code  <i class="fas fa-copyright"> </i> 2024</h3>
    </footer>   





<%- include ('./include/footer.ejs') %> 

