<%- include ("./include/header.ejs") %> 
<%- include ("./include/_dash_board.ejs") %> 

<div class="dele">
    <h2 class="all"><i class="fas fa-hourglass-end"></i> All Sessions</h2>
</div>
<div class="table">
    
    <table>
        <thead>
            <tr>
                <th>Roll No</th>
                <th>Name</th>
                <th>Session of</th>
                <th>Date Started</th>
                <th>Date Ended</th>
                <th>Date Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < session.length; i++) { %>
                 <% if(!session[i].dnow){ %> 
       <% var Date = session[i].dnow %> 
  <% } %> <%  if(session[i].dnow) {%> 
     <% var Date = session[i].dnow.toDateString()  %> 
    <% } %> 

    <% if(!session[i].date_started){ %> 
       <% var Dates = session[i].date_started %> 
  <% } %> <%  if(session[i].date_started) {%> 
     <% var Dates = session[i].date_started.toDateString()  %> 
    <% } %> 

    <% if(!session[i].date_ended){ %> 
       <% var Datess = session[i].date_ended %> 
  <% } %> <%  if(session[i].date_ended) {%> 
     <% var Datess = session[i].date_ended.toDateString()  %> 
    <% } %>
            <tr>
                <td><%= session[i].roll_no %></td>
                <td><%= session[i].name %></td>
                <td><%= session[i].classof %></td>
                <td><%= Dates %></td>
                <td><%= Datess %></td>
                 <td><%= Date %></td>
                <td>
                     <button class="butn"><i class="fas fa-ellipsis-h"></i></button>
                    <div class="hideen">
                        <a href="/admin/update-session?id=<%= session[i]._id %>" class="btn border-shadow update">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a  href="/admin/deletes/<%= session[i]._id %> " class="btn border-shadow delete" data-id="<%= session[i]._id %>"> 
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <% } %> 
        </tbody>
    </table>

     <% if (pages > 0) { %>
                <ul class="pagination text-center">
                    <% if (current == 1) { %>
                        <li class="disabled"><a>First</a></li>
                    <% } else { %>
                        <li><a href="/admin/all-session/1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active"><a><%= i %></a></li>
                        <% } else { %>
                            <li><a href="/admin/all-session/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled"><a>Last</a></li>
                    <% } else { %>
                        <li><a href="/admin/all-session/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
</div>

<footer class="foot">
    <h3>All rights reserved and Powered by: YiOL Tech <i class="fas fa-copyright"></i> 2022</h3>
  </footer>

<%- include ("./include/footer.ejs") %> 

<script>
    $(function() {
  $('a.delete').click(function(e) {
    e.preventDefault(); // Prevent the default behavior of the anchor tag
    var url = $(this).attr('href'); // Get the URL to send the DELETE request to
    var id = $(this).data('id'); // Get the ID of the resource to be deleted from a data-* attribute
    if (confirm('Are you sure you want to delete this Session?')) {
      $.ajax({
        url: url,
        type: 'DELETE',
        data: { id: id },
        success: function(result) {
          alert('Session deleted successfully!');
          location.reload(); // Reload the page to reflect the updated state
        },
        error: function(xhr, status, error) {
          alert('Error deleting Session: ' + error);
        }
      });
    }
  });
});
</script>