<%- include ("./include/header.ejs") %> 
<%- include ("./include/_dash_board.ejs") %> 

<div class="dele">
    <h2 class="all"><i class="fas fa-puzzle-piece"></i> All Sections</h2>
</div>
<div class="table">
    
    <table>
        <thead>
            <tr>
                <th>Roll No</th>
                <th>Name</th>
                <th>Section</th>
                <th>Date Started</th>
                <th>Date Ended</th>
                <th>Date Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < section.length; i++) { %> 
    
                 <% if(!section[i].datenow){ %> 
       <% var Date = section[i].datenow %> 
  <% } %> <%  if(section[i].datenow) {%> 
     <% var Date = section[i].datenow.toDateString() %> 
    <% } %> 

    <% if(!section[i].date_started){ %> 
       <% var Dates = section[i].date_started %> 
  <% } %> <%  if(section[i].date_started) {%> 
     <% var Dates = section[i].date_started.toDateString()  %> 
    <% } %> 

    <% if(!section[i].date_ended){ %> 
       <% var Datess = section[i].date_ended %> 
  <% } %> <%  if(section[i].date_ended) {%> 
     <% var Datess = section[i].date_ended.toDateString()  %> 
    <% } %>
            <tr>
                <td><%= section[i].roll_no %></td>
                <td><%= section[i].name %></td>
                <td><%= section[i].classof %> </td>
                <td><%= Dates%></td>
                <td><%= Datess %></td>
                 <td><%= Date %></td>
                <td>
                     <button class="butn"><i class="fas fa-ellipsis-h"></i></button>
                    <div class="hideen">
                        <a href="/admin/update-section?id=<%= section[i]._id %>" class="btn border-shadow update">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="/admin/deleted/<%= section[i]._id %>" class="btn border-shadow deleteSection" data-id="<%= section[i]._id %> ">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <% } %> 
        </tbody>
    </table>

     <% if (pages > 0) { %>
                <ul class="pagination text-center">
                    <% if (current == 1) { %>
                        <li class="disabled"><a>First</a></li>
                    <% } else { %>
                        <li><a href="/admin/all-section/1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active"><a><%= i %></a></li>
                        <% } else { %>
                            <li><a href="/admin/all-section/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled"><a>Last</a></li>
                    <% } else { %>
                        <li><a href="/admin/all-section/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
</div>

<footer class="foot">
    <h3>All rights reserved and Powered by Dark theme code  <i class="fas fa-copyright"> </i> 2024</h3>
</footer>   

<%- include ("./include/footer.ejs") %> 



