<%- include ("./include/header.ejs") %> 
<%- include ("./include/_dash_board.ejs") %> 

<div class="dele">
    <h1><i class="fas fa-cog"></i> School Crucial Settings</h1>
</div>
<div class="table">
                                 
    <h2 class="all"> <i class="fas fa-chess-king"></i> <i class="fas fa-comment"></i> Proprietor's Comments</h2>
    <table>
        <thead>
            <tr>
                
                <th>Name</th>
                <th>Statements</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < comment.length; i++) { %> 
            <tr>
               <td>Proprietor's Name</td> <td>  <%= comment[i].full_name %></td>  <td>
                <button class="butn"><i class="fas fa-ellipsis-h"></i></button>
               <div class="hideen">
                   <a href="/admin/update-proprietor?id=<%= comment[i].id %>" class="btn border-shadow update">
                       <i class="fas fa-user-edit"></i>
                   </a>
                   <a href="/admin/delete_proprietor/<%= comment[i].id %>" class="btn border-shadow deleteOne" data-id="<%= comment[i].id %>">
                       <i class="fas fa-trash-alt"></i>
                   </a>
               </div>
                </td>
            </tr>
            <tr>
               <td>Excellent Comment</td> <td>  <%= comment[i].excellent %></td>
            </tr>
            <tr>
                <td>Very Good Comment</td><td>  <%= comment[i].very_good %></td>
            </tr>
            <tr>
                <td>Good Comment</td> <td><%= comment[i].good %></td>
            </tr>
            <tr>
                <td>Pass Comment</td><td><%= comment[i].pass %></td>
            </tr>
            <tr>
                <td>Poor Comment</td> <td><%= comment[i].poor %></td>
            </tr>
            <tr>
                <td>Very Poor Comment</td> <td><%= comment[i].vpoor %></td>
            </tr>
           
        <% } %> 
            
        </tbody>
    </table>
</div>


<div class="dele">
    <h2 class="all"><i class="fas fa-chalkboard-teacher"></i> <i class="fas fa-comment"></i> Staffs' Comments </h2>
</div>
<div class="table">
  
    <table>
        <thead>
            <tr>
                
                <th>Name</th>
                <th>Statements</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < sst.length; i++) { %> 
            <tr>
                <td>Excellent Comment</td> <td>  <%= sst[i].excellent %></td>
               <td>
                    <button class="butn"><i class="fas fa-ellipsis-h"></i></button>
                    <div class="hideen">
                        <a href="/admin/update-staff-statement?id=<%= sst[i].id %>" class="btn border-shadow update">
                            <i class="fas fa-user-edit"></i>
                        </a>
                        <a href="/admin/delete_staff-statement/<%= sst[i].id %>" class="btn border-shadow deleteTwo" data-id="<%= sst[i].id %>">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Very Good Comment</td><td>  <%= sst[i].very_good %></td>
            </tr>
            <tr>
                <td>Good Comment</td> <td><%= sst[i].good %></td>
            </tr>
            <tr>
                <td>Pass Comment</td><td><%= sst[i].pass %></td>
            </tr>
            <tr>
                <td>Poor Comment</td> <td><%= sst[i].poor %></td>
            </tr>
            <tr>
                <td>Very Poor Comment</td> <td><%= sst[i].vpoor %></td>
            </tr>
           
        <% } %> 
            
        </tbody>
    </table>
</div>



<footer class="foot">
    <h3>All rights reserved and Powered by: YiOL Tech <i class="fas fa-copyright"></i> 2022</h3>
  </footer>


<style>

  
    .table table {
        box-shadow: 2px 2px 5px rgb(157, 157, 157), -2px -2px 5px rgb(255, 255, 255);
      
    }
    .table table tbody td:nth-child(odd) {
        background: var(--white);
        color: var(--deepest-blue);
         transition: all .1s ease-in-out;
         border-top: 1px solid #fff;
         border-right: 1px solid #fff;
     }
    
     .table table tbody td:nth-child(even) {
        background: var(--white_two);
        color: var(--deepest-blue);
        transition: all .1s ease-in-out;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
     }
    
   .table th {
        padding: 8px;
        vertical-align: top;
        font-size: 17px;
        text-align: left;
        border-top: 1px solid var(--border)
    }
       
    </style>

    <!-- styling for staffs status -->


    <style>
        .switcher {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
    
        .switcher input {
            opacity: 0;
            width: 0;
            height: 0;
        }
    
        .slider {
            position: absolute;
            cursor: pointer;
            left: 0px;
            top: 0px;
            right: 0px;
            bottom: 0px;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }
    
        .slider:before {
            position: absolute;
            content: '';
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
    
        input:checked + .slider {
            background-color: var(--deep-blue);
    
        }
    
        input:focus + .slider {
            box-shadow: 0 0 1px #2196f3;
        }
    
        input:checked +.slider:before {
            -webkit-transform:  translateX(26px);
            -ms-transform:  translateX(26px);
            transform:  translateX(26px);
    
        }
    
        .slider {
            border-radius: 34px;
        }
    
        .slider:before {
            border-radius: 50%;
        }
    </style>

<%- include ("./include/footer.ejs") %> 
