<%- include ("./include/header.ejs") %> 
<%- include ("./include/_dash_board.ejs") %> 

<div class="dele">
    <h2 class="all"><i class="fas fa-user-graduate"></i> Past Learners </h2>
</div>
<div class="table">
   
    <table>
        <thead>
            <tr>
                <th>Roll No</th>
                <th>Image</th>
                <th>Learner ID</th>
                <th>Name</th>
                <th>Enrollment Date</th>
                <th>Graduation Date</th>
                <th>Class Code</th>
                <th>Arm</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < user.length; i++) {%> 
                
                <% if(!user[i].date_enrolled){ %> 
                    <% var Date = user[i].date_enrolled %> 
               <% } %> <%  if(user[i].date_enrolled) {%> 
                  <% var Date = user[i].date_enrolled.toDateString() %> 
                 <% } %> 
             
                 <% if(!user[i].date_ended){ %> 
                    <% var Dates = user[i].date_ended %> 
               <% } %> <%  if(user[i].date_ended) {%> 
                  <% var Dates = user[i].date_ended.toDateString()  %> 
                 <% } %> 
             
                
            <tr>
                <td style="padding-left:20px; font-size: 17px;"><%= user[i].roll_no %> ‣</td>
                <td>
                  
                    <div class="avi">
                       
                        <% if(!user[i].img.contentType) {%> 
                            <img src="/img/monitor_user_image.jpg">
                       <% } else if(user[i].img.contentType){%> 
                            <img src="data:user/<%= user[i].img.contentType %>;base64,<%= user[i].img.data.toString('base64') %>">
                           <% } %> 
                    </div>
                   
                </td>
                <td><div class="avis"><%= user[i]._id %><button class="copy-btn"><i class="fas fa-clipboard"></i></button></div></td>
                <td><%= user[i].first_name %> <%= user[i].last_name %> </td>
                <td><%= Date %> </td>   
                <td><%= Dates %> </td>
                <td><%= user[i].class_code %> </td>
                <td><%= user[i].arm %> </td>
                <td><%= user[i].gender %> </td>
                <td><label class="switch">
                    <input type="checkbox" id="mySwitch" data-user-id="<%= user[i]._id %> " <%= user[i].status== true ? 'checked' : '' %> >
                    <span class="slider">

                    </span>
            </label></td>
                <td class="last_div">
                     <button class="butn"><i class="fas fa-ellipsis-h"></i></button>
                    <div class="hideen">
                        <a  href="/admin/update-learner?id=<%= user[i]._id %>" class="btn border-shadow update">
                            <i class="fas fa-user-edit"></i>
                        </a>
                        <a href="/admin/delete/<%= user[i]._id %> " class="btn border-shadow delete">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a href="/admin/learner-detail?id=<%= user[i]._id %>" class="btn border-shadow info">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </div>
                </td>
            </tr>
           <% } %>
        </tbody>
    </table>

     <% if (pages > 0) { %>
                <ul class="pagination text-center">
                    <% if (current == 1) { %>
                        <li class="disabled"><a>First</a></li>
                    <% } else { %>
                        <li><a href="/reports/alumni/1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active"><a><%= i %></a></li>
                        <% } else { %>
                            <li><a href="/reports/alumni/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled"><a>Last</a></li>
                    <% } else { %>
                        <li><a href="/reports/alumni/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
    
</div>

<footer class="foot">
  <h3>All rights reserved and Powered by: YiOL Tech <i class="fas fa-copyright"></i> 2022</h3>
</footer>
<%- include ("./include/footer.ejs") %> 

<script>
// =================Code for copying  Learner Id=========================//
  const copyBtns = document.querySelectorAll('.copy-btn');

function copyText(event) {
  const row = event.target.closest('tr');
  const text = row.querySelector('.avis').textContent;

  // Try to use navigator.clipboard API
  if (navigator.clipboard) {
    navigator.clipboard.writeText(text);
    alert(`${text} copied!`);
  } else {
    // Fallback method
    const tempInput = document.createElement('input');
    tempInput.value = text;
    document.body.appendChild(tempInput);
    tempInput.select();
    document.execCommand('copy');
    document.body.removeChild(tempInput);
    alert(`${text} copied!`);
  }
}

copyBtns.forEach(btn => {
  btn.addEventListener('click', copyText);
});

// =================Code for copying  changing Status=========================//

  $(document).ready(function() {
  $('.switch').click(function() {
    const switchId = $(this).find('input').data('user-id');
    const updatedStatus = $(this).find('input').is(':checked');

    $.ajax({
      url: `/admin/user-status/${switchId}`,
      type: 'PATCH',
      data: { status: updatedStatus },
      success: function(data) {
        alert('Status changed successfully')
        location.reload()
      },
      error: function(error) {
        console.error(error);
      }
    });
  });
});

// =================Code for delete learner=========================//

$(function() {
  $('a.delete').click(function(e) {
    e.preventDefault(); // Prevent the default behavior of the anchor tag
    var url = $(this).attr('href'); // Get the URL to send the DELETE request to
    var id = $(this).data('id'); // Get the ID of the resource to be deleted from a data-* attribute
    if (confirm('Are you sure you want to delete this user?')) {
      $.ajax({
        url: url,
        type: 'DELETE',
        data: { id: id },
        success: function(result) {
          alert('User deleted successfully!');
          location.reload(); // Reload the page to reflect the updated state
        },
        error: function(xhr, status, error) {
          alert('Error deleting Exam: ' + error);
        }
      });
    }
  });
});

//   function myFunction(event) {
    
    //     try {
    //         var copyText = event.target.parentNode.nextElementSibling.innerHTML;
    //          navigator.clipboard.writeText(copyText)
    //          alert(`${copyText} copied!, press Ok to use it`)
    //          console.log(copyText)
    //     } catch (err) {
    //         if(err) throw err
    //         console.error(err)
    //     }
       
    //   }
    
</script>


