<%- include ("./include/header.ejs") %> 
<%- include ("./include/_dash_board.ejs") %> 

<div class="dele">
    <h2 class="all"><i class="fas fa-user-graduate"></i> Past Learners </h2>
</div>
<div class="table">
   
    <table>
        <thead>
            <tr>
                <th>Roll No</th>
                <th>Image</th>
                <th>Learner ID</th>
                <th>Name</th>
                <th>Enrollment Date</th>
                <th>Graduation Date</th>
                <th>Class Code</th>
                <th>Arm</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < users.length; i++) {%> 
                
                <% if(!users[i].date_enrolled){ %> 
                    <% var Date = users[i].date_enrolled %> 
               <% } %> <%  if(users[i].date_enrolled) {%> 
                  <% var Date = users[i].date_enrolled.toDateString() %> 
                 <% } %> 
             
                 <% if(!users[i].date_ended){ %> 
                    <% var Dates = users[i].date_ended %> 
               <% } %> <%  if(users[i].date_ended) {%> 
                  <% var Dates = users[i].date_ended.toDateString()  %> 
                 <% } %> 
             
                
            <tr>
                <td style="padding-left:20px; font-size: 17px;"><%= users[i].roll_no %> ‣</td>
                <td>
                  
                    <div class="avi">
                       
                        <% if(!users[i].img.url) {%> 
                            <img src="/img/monitor_user_image.jpg">
                       <% } else if(users[i].img.url){%> 
                            <img src="<%= users[i].img.url %>">
                           <% } %> 
                    </div>
                   
                </td>
                <td><div class="avis"><%= users[i]._id %><button class="copy-btn"><i class="fas fa-clipboard"></i></button></div></td>
                <td><%= users[i].first_name %> <%= users[i].last_name %> </td>
                <td><%= Date %> </td>   
                <td><%= Dates %> </td>
                <td><%= users[i].class_code %> </td>
                <td><%= users[i].arm %> </td>
                <td><%= users[i].gender %> </td>
                <td><label class="switch switchPassLearner">
                    <input type="checkbox" id="mySwitch" data-user-id="<%= users[i]._id %> " <%= users[i].status== true ? 'checked' : '' %> >
                    <span class="slider">

                    </span>
            </label></td>
                <td class="last_div">
                     <button class="butn"><i class="fas fa-ellipsis-h"></i></button>
                    <div class="hideen">
                        <a  href="/admin/update-learner?id=<%= users[i]._id %>" class="btn border-shadow update">
                            <i class="fas fa-user-edit"></i>
                        </a>
                        <a href="/admin/delete/<%= users[i]._id %> " class="btn border-shadow deleteOldLearner">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a href="/admin/learner-detail?id=<%= users[i]._id %>" class="btn border-shadow info">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </div>
                </td>
            </tr>
           <% } %>
        </tbody>
    </table>

     <% if (pages > 0) { %>
                <ul class="pagination text-center">
                    <% if (current == 1) { %>
                        <li class="disabled"><a>First</a></li>
                    <% } else { %>
                        <li><a href="/reports/alumni/1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active"><a><%= i %></a></li>
                        <% } else { %>
                            <li><a href="/reports/alumni/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled"><a>Last</a></li>
                    <% } else { %>
                        <li><a href="/reports/alumni/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
    
</div>

<footer class="foot">
  <h3>All rights reserved and Powered by: YiOL Tech <i class="fas fa-copyright"></i> 2022</h3>
</footer>
<%- include ("./include/footer.ejs") %> 



