<%- include ("./include/test-header") %> 

<div class="wrap">

  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;" class="div">
    <img style="height: 70px; width: 70px; border-radius: 50%;border: 3px solid rgb(236, 236, 236) ;" src="<%= user.img.url %>" alt="" width="70"><br>
    <p style="color: rgb(20, 3, 117); font-size: 14px; margin-left: 25px; font-weight: bold;"><%= user.first_name %> <%= user.middle_name %>  <%= user.last_name %></p>
  </div>

  <form class="test-form" action="/tests/<%= test._id %>/submit" method="post">
    <input type="hidden" name="id" value="<%= test._id %>">
    <input type="hidden" name="userId" value="<%= user._id %>">

    <!-- Render questions here -->
    <div class="slider">
      <% test.questions.forEach((quest, index) => { %>
        <div class="slide">
          <p style="color: rgb(21, 134, 64); font-size: 14px; margin-left: 25px;"><%= quest.instruction %></p>
          <ol>
            <span class="span" style="color: rgb(12, 113, 255);"><%= index + 1 %>. </span> <label><%= quest.questionText %></label><br>
            <% if (quest.questionType === 'multiple_choice') { %>
              <% quest.options.forEach(option => { %>
                <li>
                  <input type="checkbox" name="answers[<%= quest._id %>][]" value="<%= option %>"> <%= option %><br>
                </li> 
              <% }) %>
            <% } else if (quest.questionType === 'fill_in_the_gap') { %>
              <input placeholder="fill your final answer here" type="text" name="answers[<%= quest._id %>]"><br>
            <% } %>
          </ol>
        </div>
      <% }) %>
    </div>
    <div class="question-status">
      <% test.questions.forEach((quest, index) => { %>
        <button type="button" class="status-button" data-index="<%= index %>">
          <%= index + 1 %>
        </button>
      <% }) %>
    </div>
    <div class="navigation">
  
      <button type="button" id="prev">Previous</button>
      <button type="button" id="next">Next</button>
    </div>
    <button type="submit">Submit</button>
  </form>
  

  <div class="timer">
    <img src="https://res.cloudinary.com/dj6xdawqc/image/upload/v1716775177/half-time_8831916_opeube.png" width="100" alt="">
    
    <span id="time"></span>
  </div>
  <p style="color: #a4a4a4; text-align: center;">CBT powered by Dark theme code @2024</p>
</div>


  <%- include ("./include/footer.ejs") %> 



  <script>
$(document).ready(function () {
  let currentSlide = 0;
  const slides = $('.slide');
  const totalSlides = slides.length;

  function showSlide(index) {
    slides.removeClass('active').eq(index).addClass('active');
    $('#prev').prop('disabled', index === 0);
    $('#next').prop('disabled', index === totalSlides - 1);
  }

  function updateQuestionStatus() {
    $('.status-button').each(function (index) {
      const inputs = slides.eq(index).find('input');
      let answered = false;

      inputs.each(function () {
        if ((this.type === 'checkbox' || this.type === 'radio') && this.checked) {
          answered = true;
        } else if (this.type === 'text' && this.value.trim() !== '') {
          answered = true;
        }
      });

      $(this).toggleClass('answered', answered);
    });
  }

  $('#next').click(function () {
    if (currentSlide < totalSlides - 1) {
      currentSlide++;
      showSlide(currentSlide);
    }
  });

  $('#prev').click(function () {
    if (currentSlide > 0) {
      currentSlide--;
      showSlide(currentSlide);
    }
  });

  $('.status-button').click(function () {
    const index = $(this).data('index');
    currentSlide = index;
    showSlide(currentSlide);
  });

  $('input').change(function () {
    updateQuestionStatus();
  });


  // Initialize the first slide
  showSlide(currentSlide);
})
    // Function to start the countdown
    function startCountdown(duration, display, form) {
      let timer = duration, minutes, seconds;
      const countdownInterval = setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
          clearInterval(countdownInterval);
          form.submit();  // Automatically submit the form when time is up
        }
      }, 1000);
    }

    window.onload = function () {
      const timeLimit = 60 * <%= test.duration %>; // Use the duration from the test object
      const display = document.querySelector('#time');
      const form = document.querySelector('.test-form');
      startCountdown(timeLimit, display, form);
    };

  </script>