<%- include ("./include/test-header.ejs") %> 
<%- include ('./partials/messages') %>
<div class="render">

  <p class="p-first">Welcome </p>
  <h2> to </h2> 
  <p><span>monitor  CBT Portal  </span></p>
  <h3 style="text-align: center; margin: 30px;">Advice : <br> Sit tight, pray and have a deep breath before you start. <br>Best of luck!</h3>
   
  <h1><%= school.school_name %>'s</h1>
  <h2><%= cbTest.session %>'s <%= cbTest.term %> <%= cbTest.type %> <%= cbTest.ca_pos %></h2>

  <h2 style="color: greenyellow;">Today Subject:</h2>
   <h1><%= cbTest.title %></h1>
   <h2>for <%= cbTest.student_class %></h2>
   <p class="desc"><%= cbTest.description %></p>

   <h3>Login here to start Your Exam</h3>

   <form action="/cbtpage/<%= cbTest._id %>" method="POST">
     <input type="hidden" name="id" value="<%= cbTest._id %>">
     <input type="text" name="roll_no" required placeholder="roll_no"><br><br>
     <input type="password" name="first_name" placeholder="password"><br><br>
     <button type="submit">Sign in</button>
   </form>
   
</div>

<p>CBT powered by Dark theme code @2024</p>

<%- include ("./include/footer") %> 

