<%- include ('./include/header.ejs') %> 


<div class="middle_sweet">
    <div class="div_header_two">

    </div>
     <header class="staff-route">
        <img src="/img/monitor.png" alt="" width="200">
       
          <div>
            <form action="/staff/logout" method="POST" class="logoutss">
                <button type="submit" class="nnnnn"><i class="fas fa-sign-out-alt"></i>Logout</button>
            </form>
          </div>    
        
              
          <div class="div-a">
            <a href="">home</a>
        </div>
       
    </header>

    <div class="cover_of_div">
       
        <div class="div_one_of_three twothree">
            <p class="p_of_p"> All Classes for <%= session.name %> Session</p>

            <div class="form-for-report">
                <% for (var i = 0; i < classes.length ; i++) {%> 
            
                    <div class="div_divol">
                        <a href="/staff/learner-test-exam/1?sessionId=<%= session._id %>&classId=<%= classes[i]._id %>">
                            <div class="avi">
                               <p><%= classes[i].roll_no %></p> 
                            </div>
                
                            <div class="ddiv">
                                <%= classes[i].name %>
                            </div>
                        </a>
                        <div class="match">
                           <p> <%= classes[i].class_code %> - <%= classes[i].arm %> </p>
                        </div>
                    </div>
                    
                    
                    <% } %> 

            </div>
        </div>
      

    </div>

</div>
<footer class="foot">
    <h3>All rights reserved and Powered by: YiOL Tech <i class="fas fa-copyright"></i> 2022</h3>
</footer>

<style>
    .ddiv{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2px;
        width: 120px;
        top: 10px;
        font-size: 15px;
        justify-content: center;
        align-items: center;
    }

    .ddiv p {
        padding: 0;
        margin: 0;
    }
</style>



<%- include ('./include/footer.ejs') %> 