<%- include ("./include/header.ejs") %> 
<%- include ("./include/_dash_board.ejs") %>



<div class="diverr">
    <h4><i class="fas fa-book-open"></i> Create New Subject</h4>

    <div class="form_for_create">

        <%- include ('./partials/messages') %>
   
       <form action="/admin/add_subject" method="POST" class="addStu" id="onloadAjax">

        <div class="all-single-form"> 
            <div class="mb-3">
                <div class="hop">
                    <label for="number">Roll Number:</label>
                    <input type="number" name="roll_no" value="<%= typeof roll_no != 'undefined' ? roll_no : '' %>" />
                </div>
                
            </div>
            <div class="mb-3">
                <div class="hop">
                    <label for="name">Name:</label>
                    <input type="text" name="name" value="<%= typeof name != 'undefined' ? name : '' %>"  />
                </div>
               
            </div>
            <div class="mb-3">
                <div class="hop">
                    <label for="first_o">First CA Overall:</label>
                    <input type="number" name="f_o" value="<%= typeof f_o != 'undefined' ? f_o : '' %>"  />
                </div>    
            </div>  
            <div class="mb-3">
                <div class="hop">
                    <label for="second_o">Second CA Overall:</label>
                    <input type="number" name="s_o" value="<%= typeof s_o != 'undefined' ? s_o : '' %>"  />
                </div>
            </div>
            <div class="mb-3">
                <div class="hop">
                    <label for="second_o">Third CA Overall: <span style="font-size: smaller; color: gray;" >Optional, if your school don't have third CA</span></label>
                    <input type="number" name="t_o" value="<%= typeof t_o != 'undefined' ? t_o : '' %>"  />
                </div>
            </div>
            <div class="mb-3">
                <div class="hop">
                    <label for="exam_o">Exam Overall:</label>
                    <input type="number" name="ex_o" value="<%= typeof ex_o != 'undefined' ? ex_o : '' %>"  />
                </div>
            </div>
            <div class="mb-3">
                <div class="hop">
                    <label for="total_over_all">Whole Session Overall:</label>
                    <input type="number" name="total_over_all" value="<%= typeof total_over_all != 'undefined' ? total_over_all : '' %>"  />
                </div>

        </div>

          
    <div class="mb-3">
        <input type="submit" value="Ok? Create">
    </div>
  
</div>
<footer class="foot">
    <h3>All rights reserved and Powered by Dark theme code  <i class="fas fa-copyright"> </i> 2024</h3>
</footer>   


<%- include ("./include/footer.ejs") %> 