<%- include ("./include/header.ejs") %> 

<%- include ("./include/_dash_board.ejs") %> 
<div class="divide_route">
    <a href="http://">Manage All </a> <a href="http://"> Add School Name & Add</a>  
   
</div>

<div class="diverr">
    <h4>Update School Name and Address</h4>
    <div class="form_for_create">
        
            <%- include ('./partials/messages') %>
        <form method="PUT" id="school">
            <div class="all-single-form">
                <div class="mb-3">
                    <div class="hop">
                       
                        <label for="school_id">School ID:</label>
                        <input type="school_id" name="school_id" value="<%= school.school_id %>" />
                   </div>
                    <div class="hop">
                         <input type="hidden" name="id" value="<%= school._id %> ">
                         <label for="school_name">School Name:</label>
                         <input type="school_name" name="school_name" value="<%= school.school_name %>" />
                    </div>
                    <div class="hop">
                         <label for="school_motto">School Motto:</label>
                         <input type="school_motto" name="school_motto" value="<%= school.school_motto %>" />
                    </div>
                    <div class="hop">
                        <label for="country">Country:</label>
                        <input type="country" name="country" value="<%= school.country %>" />
                   </div>
                   <div class="hop">
                        <label for="state">State:</label>
                        <input type="state" name="state" value="<%= school.state %>" />
                    </div>
                    <div class="hop">
                        <label for="city">City:</label>
                        <input type="city" name="city" value="<%= school.city %>" />
                   </div>
                    <div class="hop">
                         <label for="address">Address:</label>
                         <input type="address" name="address" value="<%= school.address %>" />
                    </div>
                 </div>
 
                 <div class="mb-3">
                     <div class="hop">
                         <label for="address2">Address 2:</label>
                         <input type="address2" name="address2" value="<%= school.address2 %>" />
                     </div>
                     <div class="hop">
                         <label for="phone_no">Phone No:</label>
                         <input type="phone_no" name="phone_no" value="<%= school.phone_no %>" />
                     </div>
                 </div>
         
                 <div class="mb-3">
                     <div class="hop">
                         <label for="phone_no2">Phone No 2:</label>
                         <input type="phone_no2" name="phone_no2" value="<%= school.phone_no2 %>" />
                     </div>
                     <div class="hop">
                         <label for="email">School Email:</label>
                         <input type=" email" name="email" value="<%= school.email %>" />
                     </div>
                     
                 </div>
             
                 <div class="mb-3">
                     <div class="hop">
                         <label for="website">School Website:</label>
                         <input type="website" name="website" value="<%= school.website %>" />
                     </div>
                    
                 </div>
            </div>
                
            
        
            <div class="mb-3">
                <input type="submit" value="Ok? Update">
            </div>
        
        </form>
   
     
 </div>  
</div>

<div class="diverr">
    <div class="form_for_create upload_image">
        <form action="/admin/upload-school-image/<%= school._id %>" method="POST" enctype="multipart/form-data">
            <div class="all-single-form">
                <div class="hop">
                    <label for="image" id="image">Upload Image:</label>
                    <input type="file" name="img" id="image" value="">
                </div>
                
            </div>
           <div class="mb-3">
                <input type="submit" value="Ok? Upload">
           </div>
           
        </form>
    </div>
</div>
<footer class="foot">
    <h3>All rights reserved and Powered by: YiOL Tech <i class="fas fa-copyright"></i> 2022</h3>
  </footer>

<%- include ("./include/footer.ejs") %> 

<style>
    .upload_image {
        margin-top: -90px;
    }
</style>

