<%- include ("./include/header.ejs") %>


<%- include ("./include/_dash_board.ejs") %> 


<div class="diverr">
    <h4>Use this form to Update <%= users.first_name %> <%= users.last_name %>'s details </h4>
    <div class="form_for_create">
        <%- include ('./partials/messages') %>
        
         <form  method="POST" id="update_user">
            <div class="all-single-form">
               
                <div class="mb-3">
                    <div class="hop">
                        <input type="hidden" name="id" value="<%= users._id %>">
                        <label for="roll_no">Admission No:</label>
                    <input 
                        type="type" 
                        name="roll_no" 
                        value="<%= users.roll_no %>">
                    </div>

                    <div class="hop">
                        <label for="first_name">First Name:</label>
                        <input 
                            type="first_name" 
                            name="first_name"  
                            value="<%= users.first_name %>">
                    </div>
                        
                </div>
        
                <div class="mb-3">
                    <div class="hop">
                        <label for="last_name">Last Name:</label>
                        <input type="last_name" 
                        name="last_name" 
                        placeholder="Last Name: example family name"  
                        value="<%= users.last_name %>">
                    </div>

                    <div class="hop">
                        <label for="middle_name">Middle Name:</label>
                        <input type="middle_name" 
                        name="middle_name" 
                        value="<%= users.middle_name %>">
                    </div>
                </div>
        
                <div class="mb-3">
                    <div class="hop">
                        <label for="classes">Re-selsect Class Option:</label> 
                        <% if (learnerClass && learnerClass.length > 0) { %>
  <select name="classId" id="classes">
    <% if (learnerCurrentClass) { %>
      <option value="<%= learnerCurrentClass._id %>" selected>
        <%= learnerCurrentClass.name %>
      </option>
    <% } %>

    <% learnerClass.forEach(function(cls) { %>
      <% if (!learnerCurrentClass || learnerCurrentClass._id.toString() !== cls._id.toString()) { %>
        <option value="<%= cls._id %>">
          <%= cls.name %> of <%= cls.arm %> - <%= cls.class_code %>
        </option>
      <% } %>
    <% }); %>
  </select>
<% } %>

                    </div>
                   
                </div>
                <% if(learnerCurrentClass) {%> 
                <div class="mb-3">
                    <div class="hop">
                        <label for="arm">Arm:</label>
                        
                        <input type="arm" 
                        name="arm" 
                        value="<%= learnerCurrentClass.arm %>" / readonly>
                       
                    </div>
                </div>
                <div class="mb-3">
                    <div class="hop">
                        <label for="classes">Class:</label>
                        
                        <input type="classes" 
                        name="classes" 
                        value="<%= learnerCurrentClass.name %>" / readonly>
                       
                    </div>
                </div>
                <% } %>
                <div class="mb-3">
                    <div class="hop">
                        <label for="email">Email:</label>
                        <input type="email" 
                        name="email" 
                        onkeyup="this.value=value.toLowerCase()" 
                        placeholder="Email: example@gmail.com" 
                        value="<%= users.email %>" />
                    </div>
                </div>
        
                <div class="mb-3">
                    <div class="hop">
                        <label for="dob">Date of birth:</label>
                        <input type="dob" name="dob" class="form-control farming" id="dating" placeholder="mm/day/year" value="<%= users.dob %>" />
                    </div>
                    <div class="hop">
                        <label for="age">Age:</label>
                        <input type="age" 
                        name="age" 
                        value="<%=  users.age %>" / readonly>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="hop">
                        <label for="parent_number">Parent Phone No:</label>
                        <input type="text" 
                        name="parent_number" 
                        value="<%= users.parent_number%>" />
                    </div>

                    <div class="hop">
                        <label for="religion">Religion:</label>
                        <input type="text" 
                        name="religion" 
                        value="<%= users.religion%>" />
                    </div>
                       
                </div>

                <div class="mb-3">
                    <div class="hop">
                        <label for="state">State:</label>
                        <input type="text" 
                        name="state" 
                        value="<%= users.state%>" />
                    </div>
                    <div class="hop">
                        <label for="lg">LG:</label>
                        <input type="text" 
                        name="lg" 
                        value="<%= users.lg%>" />
                    </div>
                </div>
                <div class="mb-3">
                    <div class="dtes">
                        <div class="hop">
                            <label for="dating">Date Enrolled:</label>
                            <input type="date_enrolled" name="date_enrolled" class="form-control" id="dating" value="<%= users.date_enrolled %>" />
                        </div>
                        <div class="hop">
                            <label for="dating">Graduation Date:</label>
                            <input type="date_ended" name="date_ended" class="form-control" id="dating" value="<%= users.date_ended %>"/>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="hop">
                        <label for="genotype">Genotype:</label>
                        <select name="genotype" id="genotype">
                        <option value="<%= users.genotype %>"><%= users.genotype %></option>
                        <option value="AA">AA</option>
                        <option value="AS">AS</option>
                        <option value="AC">AC</option>
                        <option value="SS">SS</option>
                        <option value="SC">SC</option>
                        </select>
                    </div>
                    <div class="hop">
                        <label for="blood_group">Blood Group:</label>
                        <select name="blood_group" id="blood_group">
                        <option value="<%= users.blood_group %>"><%= users.blood_group %> </option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                        </select>
                    </div>
                </div>
             

            </div>
            <div class="mb-37">
                <div class="hop">
                    <label for="tribe">Tribe:</label>
                    <input type="text" 
                    name="tribe" 
                    value="<%= users.tribe %>" />
                </div>
                <div class="hop">
                    <div class="form-group">
                        <label for="gender" class="text-light">Gender</label>
                        <div class="radio inline">
                            <input type="radio" id="radio-2" name="gender" value="Male" <%= users.gender=='Male' ? 'checked' : '' %>/>
                            <label for="radio-2" class="radio-label">Male</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-3" name="gender" value="Female" <%= users.gender=='Female' ? 'checked' : '' %>>
                            <label for="radio-3" class="radio-label">Female</label>
                        </div>
                    </div>
                </div>
               

            </div>
               

               
               
                <div class="mb-3">
                    <input type="submit" value="Ok? Update">
                </div>
            </form>    
         
                <form action="/admin/upload-image/<%= users._id %>" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                      <div class="hop">
                        <label for="img">Image</label>
                        <input type="file" name="img" id="img" value="">
                      </div>
                    </div>
                    <div class="mb-3">
                      <input type="submit" value="Upload Image?">
                    </div>
                  </form>
                  
        
     </div>


</div>
<footer class="foot">
    <h3>All rights reserved and Powered by Dark theme code  <i class="fas fa-copyright"> </i> 2024</h3>
</footer>   

<%- include ("./include/footer.ejs") %> 

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
  
</script>