<%- include ("./include/header.ejs") %> 
<%- include ("./include/_dash_board.ejs") %>


<div class="diverr">
    <h4>Update <%= subject.name %>  Subject</h4>
    <h1><a href="/admin/all-subject/1"><i class="fas fa-arrow-left"></i> All Subjects</a></h1>


    <div class="form_for_create">

        <%- include ('./partials/messages') %>
   
       <form  method="PUT" id="edit-subject">
            <div class="all-single-form">
                <div class="mb-3">
                    <input type="hidden" name="id" value="<%= subject._id %>">
                    <div class="hop">
                        <label for="roll_no">Roll Number:</label>
                        <input type="number" name="roll_no"value="<%= subject.roll_no %>" />
                    </div>
                    <div class="hop">
                        <label for="name">Name:</label>
                        <input type="text" name="name" value="<%= subject.name %>"  />
                    </div>
                    
                </div>
                 <div class="mb-3">
                <div class="hop">
                    <label for="first_o">First CA Overall:</label>
                    <input type="number" name="f_o" value="<%= subject.f_o %>"  />
                </div>    
            </div>  
            <div class="mb-3">
                <div class="hop">
                    <label for="second_o">Second CA Overall:</label>
                    <input type="number" name="s_o" value="<%= subject.s_o %>"  />
                </div>
            </div>
            <div class="mb-3">
                <div class="hop">
                    <label for="second_o">Third CA Overall: <span style="font-size: smaller; color: gray;" >Optional, if your school don't have third CA</span></label>
                    <input type="number" name="t_o" value="<%= subject.t_o %>"  />
                </div>
            </div>
            <div class="mb-3">
                <div class="hop">
                    <label for="exam_o">Exam Overall:</label>
                    <input type="number" name="ex_o" value="<%= subject.ex_o %>"  />
                </div>
            </div>
            <div class="mb-3">
                <div class="hop">
                    <label for="total_over_all">Whole Session Overall:</label>
                    <input type="number" name="total_over_all" value="<%= subject.total_over_all %>"  />
                </div>

            </div>
           
          
           <div class="mb-3">
              <input type="submit" value="Ok? Update">
           </div>
       </form>
   </div>
</div>
<footer class="foot">
    <h3>All rights reserved and Powered by Dark theme code  <i class="fas fa-copyright"> </i> 2024</h3>
</footer>   

<%- include ("./include/footer.ejs") %> 
