<%- include ("./include/result_header.ejs") %>
<header></header>
<div class="diver">
    <h2>Learners Miscellaneous, Behavioural and Skills Update for <%= misc.term %>, <%= misc.classof %> 
</div>
 <div class="misle">
    <form method="post" id="update_usersMille">

        <p>Behavioural Assessment</p>
        <div class="behavioural">
            <input type="hidden" name="id" value="<%= misc._id %> "/>
            <div class="form-group">
                <label for="gender" class="text-light">Punctuality</label>
                <select name="pun" id="pun">
                   
                    <option value="<%= misc.pun %>"><%= misc.pun %></option>
                     <option>Select Option</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                </select>
            </div>
            <div class="form-group">
                <label for="gender" class="text-light">Attendance in Class</label>
                 <select name="att_in_cl" id="att_in_cl">
                    
                    <option value="<%= misc.att_in_cl %>"><%= misc.att_in_cl %></option>
                    <option>Select Option</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                </select>
            </div>
            <div class="form-group">
                <label for="gender" class="text-light">Neatness</label>
                <select name="neat" id="neat">
                    
                    <option value="<%= misc.neat %>"><%= misc.neat %></option>
                    <option>Select Option</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                </select>
            </div>
            <div class="form-group">
                <label for="gender" class="text-light">Politeness</label>
                <select name="pol" id="pol">
                    
                    <option value="<%= misc.pol %>"><%= misc.pol %></option>
                    <option>Select Option</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                </select>
            </div>
            <div class="form-group">
                <label for="gender" class="text-light">Staffs Relationship</label>
                <select name="r_w_s" id="r_w_s">
                    
                    <option value="<%= misc.r_w_s %>"><%= misc.r_w_s %></option>
                    <option>Select Option</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                </select>
            </div>
            <div class="form-group">
                <label for="gender" class="text-light">Learners Relationship</label>
                <select name="r_w_l" id="r_w_l">
                    
                    <option value="<%= misc.r_w_l %>"><%= misc.r_w_l %></option>
                    <option>Select Option</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                </select>
            </div>
            <div class="form-group">
                <label for="gender" class="text-light">Spirit of Co-operation</label>
                <select name="spirit_o_co" id="spirit_o_co">
                    
                    <option value="<%= misc.spirit_o_co %>"><%= misc.spirit_o_co %></option>
                    <option>Select Option</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                </select>
            </div>
            <div class="form-group">
                <label for="gender" class="text-light">Sense of Responsibility</label>
                <select name="sense_o_r" id="sense_o_r">
                    
                    <option value="<%= misc.sense_o_r %>"><%= misc.sense_o_r %></option>
                    <option>Select Option</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                </select>
            </div>
            <div class="form-group">
                <label for="gender" class="text-light">Attentiveness</label>
                <select name="attent" id="attent">
                    
                    <option value="<%= misc.attent %>"><%= misc.attent %></option>
                    <option>Select Option</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                </select>
            </div>
            <div class="form-group">
                <label for="gender" class="text-light">Honesty</label>
                <select name="honesty" id="honesty">
                    
                    <option value="<%= misc.honesty %>"><%= misc.honesty %></option>
                    <option>Select Option</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                </select>
            </div>
            <div class="form-group">
                <label for="gender" class="text-light">Initiatives</label>
               <select name="iniatives" id="iniatives">
                    
                    <option value="<%= misc.iniatives %>"><%= misc.iniatives %></option>
                    <option>Select Option</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                </select>
            </div>
            <div class="form-group">
                <label for="gender" class="text-light">Perseverance</label>
                <select name="per" id="per">
                    
                    <option value="<%= misc.per %>"><%= misc.per %></option>
                    <option>Select Option</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                </select>
            </div> 
        </div>

        <p>Skills</p>
        <div class="behavioural skill">
           
            <div class="form-group">
                <label for="h_w" class="text-light">Hand Writing</label>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="h_w" value="A" <%= misc.h_w=='A' ? 'checked' : '' %>/>
                    <label for="radio-2" class="radio-label">A</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="h_w"  value="B" <%= misc.h_w=='B' ? 'checked' : '' %>/>
                    <label for="radio-3" class="radio-label">B</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="h_w" value="C" <%= misc.h_w=='C' ? 'checked' : '' %>/>
                    <label for="radio-2" class="radio-label">C</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="h_w"  value="D" <%= misc.h_w=='D' ? 'checked' : '' %>/>
                    <label for="radio-3" class="radio-label">D</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="h_w" value="E" <%= misc.h_w=='E' ? 'checked' : '' %>/>
                    <label for="radio-2" class="radio-label">E</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="h_w"  value="F" <%= misc.h_w=='F' ? 'checked' : '' %>/>
                    <label for="radio-3" class="radio-label">F</label>
                </div>
            </div> 
            <div class="form-group">
                <label for="m_s" class="text-light">Musical Skill</label>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="m_s" value="A" <%= misc.m_s=='A' ? 'checked' : '' %>/>
                    <label for="radio-2" class="radio-label">A</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="m_s"  value="B" <%= misc.m_s=='B' ? 'checked' : '' %>/>
                    <label for="radio-3" class="radio-label">B</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="m_s" value="C" <%= misc.m_s=='C' ? 'checked' : '' %>/>
                    <label for="radio-2" class="radio-label">C</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="m_s"  value="D" <%= misc.m_s=='D' ? 'checked' : '' %>/>
                    <label for="radio-3" class="radio-label">D</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="m_s" value="E" <%= misc.m_s=='E' ? 'checked' : '' %>/>
                    <label for="radio-2" class="radio-label">E</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="m_s"  value="F" <%= misc.m_s=='F' ? 'checked' : '' %>/>
                    <label for="radio-3" class="radio-label">F</label>
                </div>
            </div> 
            <div class="form-group">
                <label for="sport" class="text-light">Sport</label>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="sport" value="A" <%= misc.sport=='A' ? 'checked' : '' %>/>
                    <label for="radio-2" class="radio-label">A</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="sport"  value="B" <%= misc.sport=='B' ? 'checked' : '' %>/>
                    <label for="radio-3" class="radio-label">B</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="sport" value="C" <%= misc.sport=='C' ? 'checked' : '' %>/>
                    <label for="radio-2" class="radio-label">C</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="sport"  value="D" <%= misc.sport=='D' ? 'checked' : '' %>/>
                    <label for="radio-3" class="radio-label">D</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="sport" value="E" <%= misc.sport=='E' ? 'checked' : '' %>/>
                    <label for="radio-2" class="radio-label">E</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="sport"  value="F" <%= misc.sport=='F' ? 'checked' : '' %>/>
                    <label for="radio-3" class="radio-label">F</label>
                </div>
            </div> 
            <div class="form-group">
                <label for="craft" class="text-light">Crafts</label>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="craft" value="A" <%= misc.craft=='A' ? 'checked' : '' %>/>
                    <label for="radio-2" class="radio-label">A</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="craft"  value="B" <%= misc.craft=='B' ? 'checked' : '' %>/>
                    <label for="radio-3" class="radio-label">B</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="craft" value="C" <%= misc.craft=='C' ? 'checked' : '' %>/>
                    <label for="radio-2" class="radio-label">C</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="craft"  value="D" <%= misc.craft=='D' ? 'checked' : '' %>/>
                    <label for="radio-3" class="radio-label">D</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="craft" value="E" <%= misc.craft=='E' ? 'checked' : '' %>/>
                    <label for="radio-2" class="radio-label">E</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="craft"  value="F" <%= misc.craft=='F' ? 'checked' : '' %>/>
                    <label for="radio-3" class="radio-label">F</label>
                </div>
            </div> 
            <div class="form-group">
                <label for="h_o_t" class="text-light">Handling of Tools</label>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="h_o_t" value="A" <%= misc.h_o_t=='A' ? 'checked' : '' %>/>
                    <label for="radio-2" class="radio-label">A</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="h_o_t"  value="B" <%= misc.h_o_t=='B' ? 'checked' : '' %>/>
                    <label for="radio-3" class="radio-label">B</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="h_o_t" value="C" <%= misc.h_o_t=='C' ? 'checked' : '' %>/>
                    <label for="radio-2" class="radio-label">C</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="h_o_t"  value="D" <%= misc.h_o_t=='D' ? 'checked' : '' %>/>
                    <label for="radio-3" class="radio-label">D</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="h_o_t" value="E" <%= misc.h_o_t=='E' ? 'checked' : '' %>/>
                    <label for="radio-2" class="radio-label">E</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="h_o_t"  value="F" <%= misc.h_o_t=='F' ? 'checked' : '' %>/>
                    <label for="radio-3" class="radio-label">F</label>
                </div>
            </div> 
            <div class="form-group">
                <label for="d_and_p" class="text-light">Drawing & Painting</label>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="d_and_p" value="A" <%= misc.d_and_p=='A' ? 'checked' : '' %>/>
                    <label for="radio-2" class="radio-label">A</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="d_and_p"  value="B" <%= misc.d_and_p=='B' ? 'checked' : '' %>/>
                    <label for="radio-3" class="radio-label">B</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="d_and_p" value="C" <%= misc.d_and_p=='C' ? 'checked' : '' %>/>
                    <label for="radio-2" class="radio-label">C</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="d_and_p"  value="D" <%= misc.d_and_p=='D' ? 'checked' : '' %>/>
                    <label for="radio-3" class="radio-label">D</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="d_and_p" value="E" <%= misc.d_and_p=='E' ? 'checked' : '' %>/>
                    <label for="radio-2" class="radio-label">E</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="d_and_p"  value="F" <%= misc.d_and_p=='F' ? 'checked' : '' %>/>
                    <label for="radio-3" class="radio-label">F</label>
                </div>
            </div> 
            
        </div>

        <p>Fees, Debt and Attendance</p>
        <div class="student-detail">
            <div class="div_input">
                <label for="next_t_fee">Next Term Resumption Date</label>
                <input type="next_t_fee" name="resumpDay"  value="<%= misc.resumpDay %>">
            </div>
            <div class="div_input">
                <label for="next_t_fee">Next Time Fees</label>
                <input type="next_t_fee" name="next_t_fee"  value="<%= misc.next_t_fee %>">
            </div>
            <div class="div_input">
                <label for="payable">Payable on or Before</label>
                <input type="payable" name="payable"  value="<%= misc.payable %>">
            </div>
            <div class="div_input">
                <label for="debt">Debt on Ground</label>
                <input type="debt" name="debt"  value="<%= misc.debt %>"> 
            </div>
            <div class="div_input">
                <label for="no_of_t_s_opened">No. of time School opened</label>
                <input type="no_of_t_s_opened" name="no_of_t_s_opened"  value="<%= misc.no_of_t_s_opened %>">
            </div>
            <div class="div_input">
                <label for="total_att">Total Attendance</label>
                <input type="total_att" name="total_att"  value="<%= misc.total_att %>">
            </div>
            <div class="div_input">
                <label for="per_att">% Attendance</label>
                <input type="per_att" name="per_att"  value="<%= misc.per_att %> " readonly>
            </div>
        </div>
        <p>Head Master and Staffs Comment</p>
        <div class="student-detail">
    
            <div class="div_input">
                <label for="t_n">Teacher's Name</label>
                <% if(user) {%> 
                <select name="t_n" id="t_n">
                    <option value="Select">Select</option>
                   
                    <option value="<%= user.name %>"><%= user.name %></option>
                   
                </select>
                <% } %> 
               
            </div>

            <div class="div_input">
                <label for="t_c">Teacher's Comment</label>
                <% if(scomment) {%> 
                <select name="t_c" id="t_c">
                    <option value="Select">Select</option>
                    <option value="<%= scomment.excellent %>"><%= scomment.excellent %></option>
                    <option value="<%= scomment.very_good %>"><%= scomment.very_good %></option>
                    <option value="<%= scomment.good %>"><%= scomment.good %></option>
                    <option value="<%= scomment.pass %>"><%= scomment.pass %></option>
                    <option value="<%= scomment.poor %>"><%= scomment.poor %></option>
                    <option value="<%= scomment.vpoor %>"><%= scomment.vpoor %></option>
                   
                </select>
                <% } %> 
            </div>
            <div class="div_input">
                <label for="h_t_c">Head Teacher's Comment</label>
                <% if(prop) {%> 
                <select name="h_t_c" id="h_t_c">
                    <option value="Select">Select</option>
                    <option value="<%= prop.excellent %>"><%= prop.excellent %></option>
                    <option value="<%= prop.very_good %>"><%= prop.very_good %></option>
                    <option value="<%= prop.good %>"><%= prop.good %></option>
                    <option value="<%= prop.pass %>"><%= prop.pass %></option>
                    <option value="<%= prop.poor %>"><%= prop.poor %></option>
                    <option value="<%= prop.vpoor %>"><%= prop.vpoor %></option>
                   
                </select>
                <% } %> 
            </div>
        </div>
            <div class="submit"><input type="submit" value="Save"></div>
    </form>
 </div>
 <footer class="foot">
    <h3>All rights reserved and Powered by Dark theme code  <i class="fas fa-copyright"> </i> 2024</h3>
</footer>   
 <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script type="text/javascript">

 $("#update_usersMille").submit(function (eventss) {
  eventss.preventDefault();

  var unindexed_array = $(this).serializeArray();
  var data = {};

  $.map(unindexed_array, function (n, i) {
    data[n["name"]] = n["value"];
  });

  console.log(data);
    
  var request = {
    "url": `/staff/update_miscellaneous/${data.id}`,
    "method": "POST",
    "data": data,
    
  };

  $.ajax(request).done(function (response) {
    alert("Data Updated Successfully!");
    location.reload();
    console.log("Data Updated Successfully!");
  });
});

 </script>
<%- include ("./include/footer.ejs") %> 
