<%- include ("./include/main_header.ejs") %> 



  <div class="togeda">
    <div class="imag_pj">
      <img src="/img/monitor_user_image.jpg" alt="" width="200">
    </div>
  
    <%- include ('./partials/messages') %>
      <form action="/submit" method="POST">
  
          <div class="all-single-form">
    
              <div class="hop">
                <label for="school_id">School ID:</label>
                <input type="school_id" name="school_id" value="<%= schoolId %>" />
              </div>
    
              <div class="hop">
                  <label for="school_name">School Name:</label>
                  <input type="school_name" name="school_name" value="<%= typeof school_name != 'undefined' ? school_name : '' %>" />
              </div>
              <div class="hop">
                <label for="email">School Email:</label>
                <input type=" email" name="email" value="<%= typeof email != 'undefined' ?  email : '' %>" />
              </div>
              <div class="hop">
                <label for="email">Password 1:</label>
                <input type="password" name="password" value="<%= typeof password != 'undefined' ?  password : '' %>" />
              </div>
              <div class="hop">
                <label for="email">Password 2:</label>
                <input type="password" name="password_2" value="<%= typeof password_2 != 'undefined' ?  password_2 : '' %>" />
              </div>
          </div>
          
        <div class="mb-3">
            <input type="submit" value="Ok? Create">
        </div>
    
      </form>
  
  </div>

  <style>
    
  </style>



<!-- $(document).ready(() => {
  // Function to retrieve the list of states for a given country
  function getStates(countryCode) {
    $.getJSON(`/states/${countryCode}`, (states) => {
      const stateSelect = $('#state');
      stateSelect.empty();
      $.each(states, (index, state) => {
        const option = $('<option>').val(state.isoCode).text(state.name);
        stateSelect.append(option);
      });
      getCities(countryCode, states[0].isoCode);
    });
  }

  // Function to retrieve the list of cities for a given country and state
  function getCities(countryCode, stateCode) {
    $.getJSON(`/cities/${countryCode}/${stateCode}`, (cities) => {
      const citySelect = $('#city');
      citySelect.empty();
      $.each(cities, (index, city) => {
        const option = $('<option>').val(city.name).text(city.name);
        citySelect.append(option);
      });
    });
  }

  // Event handler for the country dropdown
  $('#country').change(() => {
    const countryCode = $('#country').val();
    getStates(countryCode);
  });

  // Event handler for the state dropdown
  $('#state').change(() => {
    const countryCode = $('#country').val();
    const stateCode = $('#state').val();
    getCities(countryCode, stateCode);
  });

}); -->


<!-- $(document).ready(() => {
  $('#country').on('change', () => {
    const countryCode = $('select[name="country"]').val();
    if (countryCode) {
      $.get(`/states/${countryCode}`, (states) => {
        $('select[name="state"]').empty().append('<option value="">-- Select a State --</option>');
        $.each(states, (index, state) => {
          $('select[name="state"]').append(`<option value="${state.name}">${state.name}</option>`);
        });
        $('select[name="state"]').prop('disabled', false);
        $('select[name="city"]').empty().prop('disabled', true);
      });
    } else {
      $('select[name="state"]').empty().prop('disabled', true);
      $('select[name="city"]').empty().prop('disabled', true);
    }
  });

  $('#state').on('change', () => {
    const countryCode = $('select[name="country"]').val();
    const stateName = $('select[name="state"]').val();
    if (countryCode && stateName) {
      $.get(`/cities/${countryCode}/${stateName}`, (cities) => {
        $('select[name="city"]').empty().append('<option value="">-- Select a City --</option>');
        $.each(cities, (index, city) => {
          $('select[name="city"]').append(`<option value="${city}">${city}</option>`);
        });
        $('select[name="city"]').prop('disabled', false);
      });
    } else {
      $('select[name="city"]').empty().prop('disabled', true);
    }
  });
}); -->

<footer class="foot">
  <h3>All rights reserved and Powered by: YiOL Tech <i class="fas fa-copyright"></i> 2022</h3>
</footer>

<%- include ("./include/footer.ejs") %> 
