<%- include ("./include/reg.ejs") %> 

<%- include ('./partials/messages') %>
<div class="menu-toggle" onclick="toggleMenu()">
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
</div>
<img class="logo-mon" src="https://res.cloudinary.com/dj6xdawqc/image/upload/v1713521761/monitor_gkgov5.png" alt="" width="200">
<div class="header  remove">
  <img src="https://res.cloudinary.com/dj6xdawqc/image/upload/v1713521761/monitor_gkgov5.png" alt="" width="200">
  <ul>
    <li><a href="/monitor">Home</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">About Us</a></li>
  </ul>
  <button onclick="redirectToPage()">
    <p>Sign in</p>
  </button>
</div>

<div class="togeda">
      <div class="imag_pj">
          <h1>Work with The Expert</h1>
             <p class="togeda-p">join us today, register on monitor to enjoy the best E-school management experience. Let hang your school in the cloud.</p>
             <button onclick="redirectToPage()">
              <p>Sign in</p>
            </button>
      </div>

     
      
        <div class="login-box">

            <h2>Sign Up</h2>
                 
          <form action="/submit" method="POST">
            <div class="user-box">
              <input type="school_id" name="school_id" value="<%= schoolId %>" />
              <label>Random Generated ID</label>
            </div>
            <div class="user-box">
              <input type="school_name" name="school_name" value="<%= typeof school_name != 'undefined' ? school_name : '' %>" />
              <label>School Name</label>
            </div>
            <div class="user-box">
              <input type=" email" name="email" value="<%= typeof email != 'undefined' ?  email : '' %>" />
              <label>School Email</label>
            </div>
            <div class="user-box">
              <input type="password" name="password" value="<%= typeof password != 'undefined' ?  password : '' %>" />
              <label>Password</label>
            </div>
            <div class="user-box">
              <input type="password" name="password_2" value="<%= typeof password_2 != 'undefined' ?  password_2 : '' %>" />
              <label>Comfirm Password</label>
            </div>
            <button>
              Next
            </button>
          </form>
        </div>

       
</div>
<footer class="foot">
  <h3>All rights reserved and Powered by Dark theme code  <i class="fas fa-copyright"> </i> 2024</h3>
</footer>   


<script>

function toggleMenu() {
  const menuToggle = document.querySelector('.menu-toggle');
  const header = document.querySelector('.header');
  menuToggle.classList.toggle('open');
  header.classList.toggle('remove');
}


function redirectToPage() {
  var xhr = new XMLHttpRequest();
  xhr.open("GET", "/", true); // Replace "destination_page.html" with the URL of the page you want to redirect to
  xhr.onreadystatechange = function() {
    if (xhr.readyState === 4 && xhr.status === 200) {
      window.location.href = "/"; // Redirect to the destination page once the request is successfully completed
    }
  };
  xhr.send();
}




</script>


<%- include ("./include/footer.ejs") %> 




