<%- include ("./include/header.ejs") %> 
<%- include ("./include/_dash_board.ejs") %> 

<div class="divh4"><h1>Class: <%= presentClass.name %></h1> <h1>Arm: <%= presentClass.arm %></h1></div>
<div class="div_promote">
    <%- include ('./partials/messages') %> 
    <% for (var l = 0; l < users.length; l++) {%>
    <form action="/admin/promotion/<%= users[l]._id %>" method="post" class="promote">
        <div class="avi aviss">        
            <% if(!users[l].img.url) { %> 
                <img src="https://res.cloudinary.com/dj6xdawqc/image/upload/v1713521761/image_mon_icon_jyx3cc.png">
           <% } else if(users[l].img.url){%> 
                <img src="<%= users[l].img.url %>">
               <% } %> 
        </div>
         <div class="dv_names">
            <p><%= users[l].first_name %> <%= users[l].last_name %> <%= users[l].middle_name %> </p>
         
            <p><%= users[l].classes %> </p>
        </div>
        <div class="div_forms">
            <label for="name">Class Name:</label>
            <% if(classed) {%> 
            <select name="id" id="name">
                <option value="">...</option>
                <% for (var x = 0; x < classed.length; x++ ) {%> 
                <option value="<%= classed[x]._id %>"> <%= classed[x].name %> of <%= classed[x].class_code %> of <%= classed[x].arm %>  </option>
                <% } %> 
               
            </select>
            <% } %> 
        </div>
        
       
        <div class="div_forms">
            <input type="submit" value="Ok? promote!">
        </div>
       

       
    </form>
    <% } %> 

  
    <form action="/admin/promotionall" method="post" class="promote">
        <div class="div_forms">
            <label for="classId">Select Class to Promote:</label>
            <select name="classId" id="classId">
                <!-- Populate this select element with options for available classes -->
                <!-- For example, you could loop through classes and generate options dynamically -->
                <% for (var i = 0; i < classed.length; i++) { %>
                    <option value="<%= classed[i]._id %>"><%= classed[i].name %></option>
                <% } %>
            </select>
        </div>
    
        <div class="div_forms">
            <label for="newClassId">New Class ID:</label>
            <select name="newClassId" id="classId">
                <option>Select new class</option>
                <!-- Populate this select element with options for available classes -->
                <!-- For example, you could loop through classes and generate options dynamically -->
                <% for (var i = 0; i < classed.length; i++) { %>
                    <option value="<%= classed[i]._id %>"><%= classed[i].name %></option>
                <% } %>
            </select>
            
        </div>
        
        <div class="div_forms">
            <input type="submit" value="Promote Learners">
        </div>
    </form>
   
</div>

<footer class="foot">
    <h3>All rights reserved and Powered by Dark theme code  <i class="fas fa-copyright"> </i> 2024</h3>
</footer>   
<%- include ("./include/footer.ejs") %> 

<style>
    .divh4 {
        width: 50%;
        margin: auto;
    }

    .divh4 h1 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: royalblue;
        text-align: center;
    }
</style>