<%- include ("./include/main_header.ejs") %> 

<%- include ('./partials/messages') %>

<div class="togeda">
    <div class="imag_pj">
        <img src="" alt="">
      </div>
      
      <div class="form_reg">
        <form action="/step3" method="POST">
 
            <div class="all-single-form">
        
                  <div class="hop">
                    <input type="hidden" name="userId" value="<%= userId %>">
                        <label for="address">Address:</label>
                        <input type="address" name="address" placeholder="Address" value="<%= typeof  address != 'undefined' ?  address : '' %>" />
                    </div>
                    <div class="hop">
                        <label for="address">Address 2:</label>
                        <input type="address2" name="address2" value="<%= typeof address != 'undefined' ? address : '' %>" />
                    </div>
                  
                    <div class="hop">
                        <label for="phone_no">Phone No:</label>
                        <input type="phone_no" name="phone_no" placeholder="Phone No" value="<%= typeof phone_no != 'undefined' ? phone_no : '' %>" />
                    </div>
        
                    <div class="hop">
                        <label for="phone_no2">Phone No 2:</label>
                        <input type="phone_no2" name="phone_no2" value="<%= typeof phone_no2 != 'undefined' ? phone_no2 : '' %>" />
                    </div>
             
        
                  <div class="hop">
                    <label for="website">School Website</label>
                    <input type="website" name="website" value="<%= typeof website != 'undefined' ? website : '' %>" />
                  </div>
        
            </div>
            <div class="mb-3">
                <input type="submit" value="Ok? Create">
            </div>
        
        </form>
      </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<script type="text/javascript">
  


<footer class="foot">
  <h3>All rights reserved and Powered by: YiOL Tech <i class="fas fa-copyright"></i> 2022</h3>
</footer>

<%- include ("./include/footer.ejs") %> 
