<%- include ("./include/header.ejs") %> 
<%- include ("./include/_dash_board.ejs") %> 

<div class="staff-detail">
    <%- include ('./partials/messages') %> 

    <a href="/school/all-staffs">All Staffs</a>
                                   
                            <div class="dreout">
                              
                                <form action="/admin/allocate_class?id=<%= staff._id %>" method="post">
                                    <h5>Assign class for Staff</h5>
                                
                                    <select name="classID" id="">
                                        <option value="">select class</option>
                                        <% classes.forEach((staffclass) => { %>
                                    
                                            <option value="<%= staffclass._id %>"> <%= staffclass.name %><%= staffclass.arm %></option>

                                        <% }) %>
                                    </select>
                            
                                <input type="submit" value="allocate">
                            </form>
                            </div>
                           
                                        <table>
                                          
                                        <tbody>
                                            <h3>Staff's Details</h3> 
                                            <tr><th><h4>Name</h4></th> <td> <h4><%= staff.name %></h4></td></tr>
                                            <tr><th><h4>Address</h4></th><td><h4><%= staff.address %></h4> </td></tr>
                                            <tr><th><h4>Mobile Number</h4></th> <td><h4> <%= staff.mobile_h4hone %></h4></td></tr>
                                            <tr><th><h4>Status</h4></th><td><h4><%= staff.status %></h4></td></tr>
                                            <tr><th><h4>Email</h4></th><td><h4><%= staff.email %></h4></td></tr>
                                            <tr>
                                                <th>
                                                    <h4>Assigned Class</h4>
                                            </th>
                                                <td>
                                                    
                                                    <% for (let i = 0; i < allocatedClasses.length; i++) { %>
                                                        <% const sclass = allocatedClasses[i]; %>
                                                        <% if (sclass) { %>
                                                            
                                                        <li class="li"><%= sclass.name %><%= sclass.arm %>
                                                            <a href="/admin/disallocate/<%= staff._id %>?classed=<%= sclass._id %>">
                                                                <i class="fas fa-trash"></i>
                                                            </a>
                                                        </li>
                                                        <% } %>
                                                    <% } %>
                                                </td>
                                            </tr>
                                        </tbody>
       
                       
           
        
                                            </table>
   
</div>
<footer class="foot">
    <h3>All rights reserved and Powered by: YiOL Tech <i class="fas fa-copyright"></i> 2022</h3>
</footer>


<%- include ("./include/footer.ejs") %>

<style>

  
.staff-detail {
    margin: auto;
    width: 40rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    margin: auto;
    gap: 20px;
    padding: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    gap: 50px;
    margin-top: 100px;

}
.staff-detail  a{
  
    color: var(--light-blue);
   
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
}

table td li {
    font-style: none;
    font-weight: bolder;
    font-family:var(--ubuntu);
    list-style-type:upper-roman;
    padding: 5px 10px;
    font-size: 13px;
}

th, td {
    text-align: left;
    
   
}

tr td  h4 {
    color: seagreen;

}

td li {
    color: yellowgreen;
}

.li a{
    font-style: none;
   
    font-family:Arial, Helvetica, sans-serif;
    color:var(--crimson);
}



input {
    outline: none;
    border: none;
    padding: 6px 12px;
    background-color: var(--deep-blue);
    color: var(--lighter-blue);
    font-family:var(--ubuntu);
    cursor: pointer;
    outline: var(--light-blue);
}

</style>

<script>

</script>

<!-- //     let open = document.getElementsByClassName("list_ones");

// let i;

// for(i = 0; i < open.length; i++) {
//     open[i].onclick = function() {
//         this.classList.toggle("actives");
//         let hideit = this.nextElementSibling;
//         if(hideit.style.maxHeight) {
//             hideit.style.maxHeight = null;
//             hideit.style.opacity = '0'
//        }else {
//             hideit.style.maxHeight = hideit.scrollHeight + "px";
//             hideit.style.opacity = '1'
//         }
//     }    
// }

// let open = document.getElementsByClassName("list_ones");

// let i;

// for(i = 0; i < open.length; i++) {
//     open[i].onclick = function() {
//         // Toggle the "actives" class on the clicked element
//         this.classList.toggle("actives");
        
//         // Find the next sibling element
//         let hideit = this.nextElementSibling;
        
//         // Loop through all elements with the "list_ones" class
//         for (let j = 0; j < open.length; j++) {
//             // Check if the current element has maxHeight set
//             if (open[j].nextElementSibling.style.maxHeight) {
//                 // If so, unset it
//                 open[j].nextElementSibling.style.maxHeight = null;
//                 open[j].nextElementSibling.style.opacity = '0';
//             }
//         }
        
//         // Set the maxHeight of the clicked element's next sibling
//         if (hideit.style.maxHeight) {
//             hideit.style.maxHeight = null;
//             hideit.style.opacity = '0';
//         } else {
//             hideit.style.maxHeight = hideit.scrollHeight + "px";
//             hideit.style.opacity = '1';
//         }
//     }    
// } -->