<%- include ("./include/header.ejs") %> 

<%- include ("./include/_dash_board.ejs") %> 

   


<div class="diverr">
    <h4>Use these forms to Update <%= staff.name %> </h4>
    <div class="form_for_create">
        <form method="PUT" id="creat-Classing">
            <div class="all-single-form">
                <div class="mb-3">
                    <div class="hop">
                        <input type="hidden" name="id" value="<%= staff._id %> ">
                        <label for="roll">Roll Number:</label>
                        <input 
                        type="roll" 
                        name="roll" 
                        value="<%= staff.roll %>" />
                    </div>
                   
                  
                </div>
                <div class="mb-3">
                  
                    <div class="hop">
                        <label for="name">Name:</label>
                        <input 
                        type="name" 
                        name="name" 
                        value="<%= staff.name %>" />
                    </div>
                  
                </div>
                <div class="mb-3">
                  
                    <div class="hop">
                        <label for="email">Email:</label>
                        <input 
                        type="email" 
                        name="email" 
                        value="<%= staff.email %>" />
                    </div>
                  
                </div>

                <div class="mb-3">
                  
                    <div class="hop">
                        <label for="address">Address:</label>
                        <input 
                        type="address" 
                        name="address" 
                        value="<%= staff.address %>" />
                    </div>
                  
                </div>

                <div class="mb-3">
                  
                    <div class="hop">
                        <label for="mobile_phone">Mobile phone:</label>
                        <input 
                        type="mobile_phone" 
                        name="mobile_phone" 
                        value="<%= staff.mobile_phone %>" />
                    </div>
                  
                </div>

              
                
            </div>
    
           
            <div class="mb-3">
                <input type="submit" value="Ok? Update">
             </div>
    
          
        </form>

        <form action="/admin/edit-staff-image/<%= staff._id %>" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <div class="hop">
                <label for="img">Image</label>
                <input type="file" name="img" id="image">
              </div>
            </div>
            <div class="mb-3">
              <input type="submit" value="Upload Image">
            </div>
        </form>
          
      
    </div>
</div>
     
<footer class="foot">
    <h3>All rights reserved and Powered by Dark theme code  <i class="fas fa-copyright"> </i> 2024</h3>
  </footer> 
<%- include ("./include/footer.ejs") %> 
