<%- include ("./include/header.ejs") %> 
<%- include ("./include/_dash_board.ejs") %> 
<div class="hrefa"><a href="/admin/all-staffs">All Staffs</a></div>
<div class="staff-detail">
    <%- include ('./partials/messages') %> 

  
                                   
                            <div class="dreout">
                              
                                <form action="/admin/allocate_class?id=<%= staff._id %>" method="post">
                                    <h5>Assign class for Staff</h5>
                                
                                    <select name="classID" id="">
                                        <option value="">select class</option>
                                        <% classes.forEach((staffclass) => { %>
                                    
                                            <option value="<%= staffclass._id %>"> <%= staffclass.name %><%= staffclass.arm %></option>

                                        <% }) %>
                                    </select>
                            
                                <input type="submit" value="allocate">
                            </form>
                            </div>
                           
                                        <table>
                                          
                                        <tbody>
                                            <h3>Staff's Details</h3> 
                                            <tr><th><img src="<%= staff.img.url %>" alt="" width="100"></th></tr>
                                            <tr><th><p>Name:</p></th> <td> <p><%= staff.name %></p></td></tr>
                                            <tr><th><p>Address:</p></th><td><p><%= staff.address %></p> </td></tr>
                                            <tr><th><p>Mobile Number:</p></th> <td><p> <%= staff.mobile_phone %></p></td></tr>
                                            <tr><th><p>Status:</p></th><td><p><%= staff.status %></p></td></tr>
                                            <tr><th><p>Email:</p></th><td><p><%= staff.email %></p></td></tr>
                                            <tr>
                                                <th>
                                                    <h4>Assigned Class:</h4>
                                            </th>
                                                <td>
                                                    
                                                    <% for (let i = 0; i < allocatedClasses.length; i++) { %>
                                                        <% const sclass = allocatedClasses[i]; %>
                                                        <% if (sclass) { %>
                                                            
                                                        <li class="li"><%= sclass.name %><%= sclass.arm %>
                                                            <a href="/admin/disallocate/<%= staff._id %>?classed=<%= sclass._id %>">
                                                                <i class="fas fa-trash"></i>
                                                            </a>
                                                        </li>
                                                        <% } %>
                                                    <% } %>
                                                </td>
                                            </tr>
                                        </tbody>
       
                       
           
        
                                            </table>
   
</div>
<footer class="foot">
    <h3>All rights reserved and Powered by Dark theme code  <i class="fas fa-copyright"> </i> 2024</h3>
</footer> 

<%- include ("./include/footer.ejs") %>

<style>

  
.staff-detail {
   
    position: relative;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 2px 10px rgb(187, 187, 187);
    gap: 50px;
    margin-top: 50px;

}

.staff-detail table tbody tr::-webkit-scrollbar {
  width: .3em;
  height: .3em;
}
 
.staff-detail table tbody tr::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.101);
}
 
.staff-detail table tbody tr::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, var(--white_two)0% 50%, var(--white_three)50% 100%);
  /* outline: 1px solid slategrey; */
  border-radius: 35px;
}

table tbody {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:flex-start;
    border: 1px solid  var(--white_one);
    padding: 10px;
    overflow-x: auto;
}

.hrefa{
    margin-top: 60px;
    padding: 20px;
    width: 100%;
    text-align: center;
}

 .hrefa a{
    margin-top: 100px;
    padding: 20px;
    width: 100%;
    color: var(--light-blue);
    text-align: center;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
}
table td li {
    font-style: none;
    font-weight: bolder;
    font-family:var(--ubuntu);
    list-style-type:upper-roman;
    padding: 5px 10px;
    font-size: 13px;
}

table tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    gap: 50px;
    border: 1px solid  var(--white_one);
    overflow: auto;
    padding: 10px;
    
}

th, td {
    text-align: left;
    width: 150px;
    border: 1px solid  var(--white_one);
}

tr td  p {
    color: seagreen;
}

td li {
    color: yellowgreen;
}

.li a{
    font-style: none;
   
    font-family:Arial, Helvetica, sans-serif;
    color:var(--crimson);
}



input {
    outline: none;
    border: none;
    padding: 6px 12px;
    background-color: var(--deep-blue);
    color: var(--white_one);
    font-family:var(--ubuntu);
    cursor: pointer;
    outline: 2px solid var(--light-blue);
    transition: .3s;
}

select {

    padding: 12px 25px;
    background-color: var(--deep-blue);
    color: var(--white_one);
    font-family:var(--ubuntu);
    cursor: pointer;
    outline: 2px solid var(--light-blue);
    transition: .3s;
}

input:hover {
    outline: 1px solid var(--deep-blue);
    background-color: var(--white_one);
    color: var(--deep-blue);
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

</style>

<script>

</script>

<!-- //     let open = document.getElementsByClassName("list_ones");

// let i;

// for(i = 0; i < open.length; i++) {
//     open[i].onclick = function() {
//         this.classList.toggle("actives");
//         let hideit = this.nextElementSibling;
//         if(hideit.style.maxHeight) {
//             hideit.style.maxHeight = null;
//             hideit.style.opacity = '0'
//        }else {
//             hideit.style.maxHeight = hideit.scrollHeight + "px";
//             hideit.style.opacity = '1'
//         }
//     }    
// }

// let open = document.getElementsByClassName("list_ones");

// let i;

// for(i = 0; i < open.length; i++) {
//     open[i].onclick = function() {
//         // Toggle the "actives" class on the clicked element
//         this.classList.toggle("actives");
        
//         // Find the next sibling element
//         let hideit = this.nextElementSibling;
        
//         // Loop through all elements with the "list_ones" class
//         for (let j = 0; j < open.length; j++) {
//             // Check if the current element has maxHeight set
//             if (open[j].nextElementSibling.style.maxHeight) {
//                 // If so, unset it
//                 open[j].nextElementSibling.style.maxHeight = null;
//                 open[j].nextElementSibling.style.opacity = '0';
//             }
//         }
        
//         // Set the maxHeight of the clicked element's next sibling
//         if (hideit.style.maxHeight) {
//             hideit.style.maxHeight = null;
//             hideit.style.opacity = '0';
//         } else {
//             hideit.style.maxHeight = hideit.scrollHeight + "px";
//             hideit.style.opacity = '1';
//         }
//     }    
// } -->