<%- include ("./include/header.ejs") %> 

<%- include ("./include/_dash_board.ejs") %> 

   


<div class="diverr">
    <h3 style="position: absolute; top:0px; left: 10px;"><a href="<%= previousUrl %>">Back</a></h3>
    <h4>Use these forms to Update <%= staff.name %> </h4>
    <div class="form_for_create">
        <%- include ('./partials/messages') %>
        <form method="PUT" id="creat-Classing">
            <div class="all-single-form">
                <div class="mb-3">
                    <div class="hop">
                        <input type="hidden" name="id" value="<%= staff._id %> ">
                        <label for="roll">Roll Number:</label>
                        <input 
                        type="roll" 
                        name="roll" 
                        value="<%= staff.roll %>" />
                    </div>
                   
                  
                </div>
                <div class="mb-3">
                  
                    <div class="hop">
                        <label for="name">Name:</label>
                        <input 
                        type="name" 
                        name="name" 
                        value="<%= staff.name %>" />
                    </div>
                  
                </div>

                <div class="mb-3">
                  
                    <div class="hop">
                        <label for="award">Achievements/Awards:</label>
                        <textarea  name="award"  id=""><%= staff.award %></textarea>
                    </div>
                  
                </div>
                 <div class="mb-3">
                  
                    <div class="hop">
                        <label for="about">About:</label>
                      <textarea name="about" ><%= staff.about || '' %></textarea>
                    </div>
                  
                </div>
                
                <div class="mb-3">
                  
                    <div class="hop">
                        <label for="subject">Subject:</label>
                        <input 
                        type="subject" 
                        name="subject" 
                        value="<%= staff.subject %>" />
                    </div>
                  
                </div>
                 <div class="mb-3">
                  
                    <div class="hop">
                        <label for="position">Position:</label>
                        <input 
                        type="position" 
                        name="position" 
                        value="<%= staff.position %>" />
                    </div>
                  
                </div>
                <div class="mb-3">
                  
                    <div class="hop">
                        <label for="address">Address:</label>
                        <input 
                        type="address" 
                        name="address" 
                        value="<%= staff.address %>" />
                    </div>
                  
                </div>

                <div class="mb-3">
                  
                    <div class="hop">
                        <label for="mobile_phone">Mobile phone:</label>
                        <input 
                        type="mobile_phone" 
                        name="mobile_phone" 
                        value="<%= staff.mobile_phone %>" />
                    </div>
                  
                </div>
                <div class="mb-3">
                    <div class="hop">
                        <label for="gmail">Gmail:</label>
                        <input 
                        type="email" 
                        name="gmail" 
                        value="<%= staff.email %>" />
                    </div>
                </div>

                <div class="mb-3">
                    <div class="hop">
                        <label for="x">X (Twitter):</label>
                        <input 
                        type="text" 
                        name="x" 
                        value="<%= staff.x %>" />
                    </div>
                </div>

                <div class="mb-3">
                    <div class="hop">
                        <label for="instagram">Instagram:</label>
                        <input 
                        type="text" 
                        name="instagram" 
                        value="<%= staff.instagram %>" />
                    </div>
                </div>

                <div class="mb-3">
                    <div class="hop">
                        <label for="facebook">Facebook:</label>
                        <input 
                        type="text" 
                        name="facebook" 
                        value="<%= staff.facebook %>" />
                    </div>
                </div>

                <div class="mb-3">
                    <div class="hop">
                        <label for="linkedin">LinkedIn:</label>
                        <input 
                        type="text" 
                        name="linkedin" 
                        value="<%= staff.linkedin %>" />
                    </div>
                </div>

                    
            </div>
        
           
            <div class="mb-3">
                <input type="submit" value="Ok? Update">
            </div>
    
          
        </form>

        <form action="/admin/edit-staff-image/<%= staff._id %>" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <div class="hop">
                <label for="img">Image</label>
                <input type="file" name="img" id="image">
              </div>
            </div>
            <div class="mb-3">
              <input type="submit" value="Upload Image">
            </div>
        </form>
          
      
    </div>
</div>
     
<footer class="foot">
    <h3>All rights reserved and Powered by Dark theme code  <i class="fas fa-copyright"> </i> 2024</h3>
  </footer> 
<%- include ("./include/footer.ejs") %> 
