<%- include ('./include/header.ejs') %> 
<%- include ('./partials/messages') %>
<div class="allss">
    <div class="mon">
        <img src="https://res.cloudinary.com/dj6xdawqc/image/upload/v1713521761/monitor_gkgov5.png" alt="" width="200">
        <form action="/learner/logout" method="POST" class="logoutss">
            <button type="submit" class="nnnnn"><i class="fas fa-sign-out-alt"></i></button>
        </form>
        <div class="imgss">
            <img src="<%= user && user.img.url ? user.img.url : 'https://res.cloudinary.com/idrynod-001/image/upload/v1756835528/emblems_jk6gea.jpg' %>" alt="Learner Image">
        </div> 
    </div>
   

    <div class="profile">
     
       
        <div class="checking">
            <h5>Check result <i class="fas fa-hand-point-down"></i></h5>
            <ul>             
                <li><button  class="btn btn-open">1st & 2nd term</button></li>
                <li><button  class="btn btn-opens">3rd Term </button></li>
            </ul>
            <a href="/learner/edit-profile?id=<%= user._id %>" id="aahref">Edit profile</a>
        </div>

    </div>
    <h3>Learner's Information</h3>
    <div class="profile_name">
        <h4><p>Admin No:</p><%= user.roll_no %></h4>
        <h4><P>Name:</P><%= user.first_name %> <%= user.last_name %> <%= user.middle_name %> </h4>
        <h4><p>Email:</p><%= user.email %></h4>
        <h4><p>Arm:</p><%= user.arm %></h4>
        <h4><p>Age:</p><%= user.age %></h4>
        <h4><p>Class:</p><%= user.classes %></h4>
    </div>

        
    
   
   

    <div class="modality">
        <section class="modal hidden">
            <div> 
                <div class="flex">
                    <h1 style="color: skyblue; z-index: 1;">First-Term & Second-Term</h1>
                <button class="btn-close"><i class="fas fa-times"></i></button>
                </div>
                <form action="/learner/check_result" method="GET">
                <div class="inputss">
                    <label for="">Term:</label>
                    <select name="name" id="name" required>
                        <option value="First-Term">First-Term</option>
                        <option value="Second-Term">Second-Term</option>
                    </select>
                </div>
                <div class="inputss">
                    <label for="">Admin No:</label>
                    <input type="text" name="admin_no" value="<%= user.roll_no %>" required>
                </div>
                <div class="inputss">
                    <label for="">Roll_No:</label>
                    <% if(session) {%> 
                        <select name="roll_no" id="classes">
                            <option >select</option>
                            <% for (var i = 0; i < session.length; i++) {%> 
                                <option value="<%= session[i].roll_no %>"><%= session[i].roll_no %></option>
                            <% } %> 
                        </select>
                        <% } %> 
                </div>
                <div class="inputss">
                    <label for="">Class Of:</label>
                    <% if(session) {%> 
                        <select name="classof" id="classes">
                            <option >select</option>
                            <% for (var i = 0; i < session.length; i++) {%> 
                                <option value="<%= session[i].classof %>"><%= session[i].classof %></option>
                            <% } %> 
                        </select>
                        <% } %> 
                   
                </div>
                <div class="inputss">
                    <label for="">Enter Pin:</label>
                    <input type="text" name="code" value="">
                </div>
                <button class="btns">Fetch Result</button>

                </form>
            
            </div>       
        </section>
        <div class="overlay hidden"></div>
    </div>

    <div class="modality">

        <section class="modals hiddens">
           
            
           
            <div> 
                <div class="flexs">
                    <h1 style="color: skyblue; z-index: 1;">Third-Term</h1>
                    <button class="btn-closes"><i class="fas fa-times"></i></button>
                </div>
                <form action="/learner/check_results" method="GET">
                   
                <div class="inputss">
                    <label for="">Term:</label>
                    <select name="name" id="name" required>
                        <option value="Third-Term">Third-Term</option>
                    </select>
                </div>
                <div class="inputss">
                    <label for="">Admin No:</label>
                    <input type="text" name="admin_no" value="<%= user.roll_no %>">
                </div>
                <div class="inputss">
                    <label for="">Roll_No:</label>
                    <% if(session) {%> 
                        <select name="roll_no" id="classes">
                            <option >select</option>
                            <% for (var i = 0; i < session.length; i++) {%> 
                                <option value="<%= session[i].roll_no %>"><%= session[i].roll_no %></option>
                            <% } %> 
                        </select>
                        <% } %> 
                </div>
                <div class="inputss">
                    <label for="">Class Of:</label>
                    <% if(session) {%> 
                        <select name="classof" id="classes">
                            <option >select</option>
                            <% for (var i = 0; i < session.length; i++) {%> 
                                <option value="<%= session[i].classof %>"><%= session[i].classof %></option>
                            <% } %> 
                        </select>
                        <% } %> 
                   
                </div>
                <div class="inputss">
                    <label for="">Enter Pin:</label>
                    <input type="text" name="code" value="">
                </div>
                <button class="btns">Fetch Result</button>
    
                </form>
            
            </div>
       
        </section>
        <div class="overlays hiddens"></div>
    </div>
</div>

<footer class="foot">
    <h3>All rights reserved and Powered by Dark theme code  <i class="fas fa-copyright"> </i> 2024</h3>
</footer> 
<%- include ('./include/footer.ejs')  %> 

<style>
    body {
        padding: 0;
        margin: 0;
    }

.modality{
    top: 20%;
}
</style>