<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= users.first_name %> <%= users.last_name %> <%= users.middle_name %></title>
    <link rel="icon" href="/img/monitor_lo-01.png" type="image/x-icon">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,400;1,500;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,800;0,900;1,500;1,800&family=Ubuntu:ital,wght@0,300;1,300&display=swap" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" crossorigin="anonymous">
    <script src="/js/index.js" defer></script>
    <!-- <img src="/img" alt="" srcset=""> -->
    <!-- <link rel="stylesheet" href="https://mincdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
</head>
<body>

    
<div id="divid">
    <div>

    
    <div class="body" id="htmlToimage">
        
        <div class="sidebar">
            
            <div class="student-image" >
               <img src="<%= users && users.img.url ? users.img.url : 'https://res.cloudinary.com/idrynod-001/image/upload/v1756835528/emblems_jk6gea.jpg' %>" alt="Learnerd Image">

            </div>
           
            <div class="student-name">
                <p class="fullname"><%= users.first_name %> <%= users.last_name %> <%= users.middle_name %>  </p>
            </div>
    
            <div class="age">
                <p class="student-age">Student Age:</p>
                <p class="the"><%= users.age %> </p>
            </div>
    
            <div class="class">
                <p class="student-class">Student Class:</p>
                
                <p class="the"><%= users.classes %> <%= users.arm %> </p>
                
            </div>
    
            <div class="addmission-no">
                <p class="addmin-no">Addmision No:</p>
                <p class="the"><%= users.roll_no %> </p>
            </div>
            <% if(session) {%>
            <div class="session-section">
               <% if (session && section) {%>
                <p class="sess-sect">Session | Section:</p>
                <p class="the"><%= session.name %> <%= session.classof %>  | <%= section.name %> </p>
                <% } %>
            </div>
            <% } %>
           
    
            <div class="date-issue">
                <p class="the-dates">Date Issue:</p>
                <% if(users) {%> 
                    <% let x = new Date() %> 
                    <% let y = x.toDateString() %> 
                <p class="the"> <%= y %> </p>
                <% } %> 
            </div>
    
            <div class="Result-serials">
                <p class="sess-sect">Result Serial No:</p>

               
                <p class="the"><%= resultSerialNumber %> </p>
               
            </div>
    
            <div class="TERMS">
                <p class="the">This Result is issued by and remained the Property of the Issuer</p>
            </div>
    
            <div class="qrcode">
                <p>Verify Result Using QR Code</p>
            </div>
    
        </div>
         
        <div class="apart-from-side-bar">
            <div class="header" >
                <% if(user) {%>
                <div class="school-name">
                    <p class="the-school-name"><%= user.school_name %></p>
                </div>
            
                <div class="address">
                    <p class="school-add"><i class="fas fa-map-marker-alt"></i> <%= user.address %> </p>  <p class="school-add"><i class="fas fa-map-marker-alt"></i> <%= user.address2 %> </p>
                    <p class="school-web"><i class="fas fa-phone"></i> Mobile Phone: <%= user.phone_no %>. <i class="fas fa-mobile"></i> Mobile Phone: <%= user.phone_no2 %> </p> 
                        <p class="school-email" ><i class="fas fa-envelope-open-text"></i> Email: <%= user.email %>    |   <i class="fas fa-atlas"></i> Website: <%= user.website %></p>
                      
                
                </div>
                <div id="school-logo" class="nowing">
                    <% if(user.img.url) {%> 
                        <img src="<%= user.img.url.replace('http://', 'https://') %>" alt="Learner Image">
                     <% } else {%> 
                         <img src="https://res.cloudinary.com/dj6xdawqc/image/upload/v1713521762/school_logo-01_rf6ogn.png" alt="" width="200">
                         <% } %> 
                </div>
                <% } %>
            </div>
            
            
            
           
            <div class="tables" >
                
                <table class="tboby">
                   
                    <thead> 
                        <tr >
                            <div class="lap">
                                <th colspan="1"></th>
                                <th colspan="4"><p class="headers_p">Continuous Assessment</p></th>
                                <% if(section) {%>
                                <th colspan="4"> <p class="headers_p">Academic Report for <%= section.name %> </p></th>
                                <th colspan="2"></th>
                                <% } %>
                            </div>
                        </tr>
                        <tr> 
                            <th>SUBJECTS</th>
                            <th class="trans">Over all</th>
                            <th class="trans">1st CA</th>
                            <th class="trans">Over all</th>
                            <th class="trans">2nd CA</th>
                            <th class="trans">Over all</th>
                            <% if(exam.overall_third_ca) {%>
                            <th class="trans">3rd CA</th>
                            <th class="trans">Over all</th>
                            <% } %>
                            <th>Exam</th>
                            <th>Total</th>
                            <th>Grade</th>
                            <th>Remarks</th>  
                        </tr>
                   </thead>
                   <tbody>
                    <% if (exam && exam.length > 0) {%> 
                        <% var totalOverall = 0, totalFirstCA = 0, totalSecondCA = 0, totalThirdCA = 0, 
                        totalExamOverall = 0, totalExamMark = 0, totalTermTotal = 0, totalFirstCaAll = 0, totalSecondCaAll = 0, totalThirdCaAll = 0; %>
                    <% for (var i = 0; i < exam.length; i++) {%> 
                       
             
                        <tr> 
                            <td class="ro"><%=exam[i].name %> </td>
                            <td class="black"><%=exam[i].overall_first_ca %></td>
                            <td><%= exam[i].mark_obtained_first_ca %> </td >
                            <td class="black"><%=exam[i].overall_second_ca %></td>
                            <td><%= exam[i].mark_otained_second_ca %></td>
                            <% if(exam.overall_third_ca) {%>
                            <td class="black"><%=exam[i].overall_third_ca %></td>
                            <td><%= exam[i].mark_otained_third_ca %></td>
                            <% } %>
                            <td class="black"><%=exam[i].exam_overall %></td>
                            <td><%= exam[i].exam_mark_obtain %></td>
                            <td><%= exam[i].term_total %></td>
                            <td><%= exam[i].grade %></td>
                            <td class="ro"><%= exam[i].remarks%></td>
                            <% totalOverall += exam[i].overall_first_ca + exam[i].overall_second_ca + (exam.overall_third_ca ? exam[i].overall_third_ca : 0) + exam[i].exam_overall; %>
                           
                            <% totalFirstCA += exam[i].mark_obtained_first_ca; %>
                            <% totalFirstCaAll += exam[i].overall_first_ca; %>
                            <% totalSecondCA += exam[i].mark_otained_second_ca; %>
                            <% totalSecondCaAll += exam[i].overall_second_ca; %>
                            <% totalThirdCA += exam[i].mark_otained_third_ca; %>
                            <% totalThirdCaAll += exam[i].overall_third_ca; %>
                            <% totalExamOverall += exam[i].exam_overall; %>
                            <% totalExamMark += exam[i].exam_mark_obtain; %>
                            <% totalTermTotal += exam[i].term_total; %>
                        </tr>
                        <% } %> 
                        
                        <tr> 
                            <td>TOTAL</td>
                             <% var totality = exam.length %>
                                <% totalScore = totality * 100 %>
                                <% var cummulative = (Number(totalTermTotal)/Number(totalScore))*100%>
                            
                            <td class="black"><%= totalFirstCaAll %></td>
                            <td><%= totalFirstCA %></td>
                            <td class="black"><%= totalSecondCaAll %></td>
                            <td><%= totalSecondCA %></td>
                            <% if(exam.overall_third_ca) {%>
                            <td class="black"><%= totalThirdCaAll %></td>
                            <td><%= totalThirdCA %></td>
                            <% } %>
                            <td class="black"><%= totalExamOverall %></td>
                            <td><%= totalExamMark %></td>
                            <td><%= totalTermTotal %></td>
                            <td colspan="2"><p><%= totalTermTotal %>/<%= totalOverall %> (<%= cummulative %>%)</p></td>
                            <td colspan="3"></td>
                        </tr>
                        <% } %> 
                    </tbody>
                    
                    
                </table>
            </div>
          
          
           <div class="secondpost" >
             
                <div class="behavioural-assessment">  
    
                    <table border="1" class="table2">
                      
                        <thead>
                            <tr><th colspan="7" class="bbb">Behavioural Assessment $ Skills</th></tr>
                            <tr>
                                <th>BEHAVIOUR</th>
                                <th>Grade</th> 
                                <th>BEHAVIOUR</th>
                                <th>Grade</th>
                                <th>SKILLS</th>
                                <th>Grade</th>  
                           </tr>  
                        </thead>
                       
                        <tbody>
                            <% if( misc  ) {%> 
                            <tr>
                                <td>Punctuality</td>
                                <td><%= misc.pun %> </td>
                                <td>Spirit of Co-operation</td>
                                <td><%= misc.spirit_o_co %></td> 
                                <td>Hand Writing</td>
                                <td><%= misc.h_w %></td> 
                            </tr>
                            <tr>
                                <td>Attendance in Class</td>
                                <td><%= misc.att_in_cl %> </td>
                                <td>Sense of Responsibility</td>
                                <td><%= misc.sense_o_r %></td> 
                                <td>Musical Skill</td>
                                <td><%= misc.m_s %></td> 
                            </tr>
                            <tr>
                                <td>Neatness</td>
                                <td><%= misc.neat %> </td>
                                <td>Attentiveness</td>
                                <td><%= misc.attent %></td> 
                                <td>Sport</td>
                                <td><%= misc.sport %></td> 
                            </tr>
                            <tr>
                                <td>Politeness</td>
                                <td><%= misc.pol %></td>
                                <td>Honesty</td>
                                <td><%= misc.honesty %></td> 
                                <td>Crafts</td>
                                <td><%= misc.craft %></td> 
                            </tr>
                            <tr>
                                <td>Relationship with Staffs</td>
                                <td><%= misc.r_w_s %></td>
                                <td>Initiatives</td>
                                <td><%= misc.iniatives %></td> 
                                <td>Handling of Tools</td>
                                <td><%= misc.h_o_t %></td> 
                            </tr>
                            <tr>
                                <td>Relationship with Learners</td>
                                <td><%= misc.r_w_l %></td>
                                <td>Perseverance</td>
                                <td><%= misc.per %></td> 
                                <td>Drawing & Painting</td>
                                <td><%= misc.d_and_p %></td> 
                            </tr>
                            <% } %> 
                        </tbody>
                       
                       
                    </table>  
                </div> 
                
               
                <div class="payable-fees">
                    <table>
                        <thead>
                            <tr><th colspan="2">Fees, Debt And Attendance</th></tr>
                        </thead>
                      
                        <tbody>
                            <% if(misc) {%> 
                            <tr><td>Resumption Date</td><td class="opting"><%= misc.resumpDay %></td></tr>
                            <tr><td>Next Time Fees</td><td class="opting"><%= misc.next_t_fee %></td></tr>
                            <tr><td>Payable on or Before</td><td class="opting"><%= misc.payable %></td></tr>
                            <tr><td>Debt on Ground</td><td class="opting"><%= misc.debt %></td></tr>
                            <tr><td>No. of time School opened</td><td class="opting"><%= misc.no_of_t_s_opened %></td></tr>
                            <tr><td>Total Attendance</td><td class="opting"><%= misc.total_att %></td></tr>
                            <tr><td>% Attendance</td><td class="opting"><%= misc.per_att %></td></tr>
                            <% } %> 
                        </tbody>
                    </table>
                </div>
                
            
            
               
            
            </div>
           
            <div class="flex-comment">
               
               <table>
               
                <% if(position && position.position) { %> 
                    <%
                    var pos = position.position;
                  
                    // Ensure pos is a string
                    if (typeof pos !== 'string') {
                      pos = pos.toString(); 
                    }
                  
                    
                    var lastDigit = pos[pos.length - 1]; 
                    var secondLastDigit = pos.length > 1 ? pos[pos.length -2] : null; 
                  
                  
                    var rate;
                    if (secondLastDigit === '1') {
                      // For numbers ending in '11', '12', or '13', or when the last digit is '1' but not '11', '12', or '13', always use 'th'
                      rate = 'th';
                    } else {
                      // For all other cases, determine the suffix based on the last digit
                      switch (lastDigit) {
                        case '1':
                          rate = 'st';
                          break;
                        case '2':
                          rate = 'nd';
                          break;
                        case '3':
                          rate = 'rd';
                          break;
                        default:
                          rate = 'th';
                      }
                    }
                    %>
                    
                    <tr>
                      <td>Learner's Position</td>
                      <td class="com">
                        <h1><%= pos %><%= rate %></h1>
                      </td>
                    </tr>
                    
                  <% } %>
                  
                

                
                        
                <% if(misc) {%>
                    <tr><td>Teacher's Comment</td><td class="com"><%= misc.t_c %></td></tr>
                    <tr><td>Teacher's Name</td><td class="com"><%= misc.t_n %></td></tr>
                    <tr><td>Signature</td><td class="com"></td></tr>
                    <tr><td>Head Teacher's Comment</td><td class="com"><%= misc.h_t_c %></td></tr>
                    <tr><td>Signature</td><td class="com"></td></tr>
               </table>
               <% } %> 
            </div>    
            
    
        </div>
    
       
    </div>
</div>
</div>

<div class="click">
     <button id="downloader" class="clickbtn">
        <i class="fas fa-camera-retro"></i> 
        Snap
    </button> 
    <button class="clickbtn" onclick='printDivs()'>
        <i class="fas fa-print"></i> 
        Print
    </button>
</div>





<footer class="foot">
    <h3>All rights reserved and Powered by Dark theme code  <i class="fas fa-copyright"> </i> 2024</h3>
  </footer> 

<%- include ("./include/footer.ejs") %> 

<script>

const printDivs = async ()=>{
    try {
        let schooLogo = document.querySelector(".body");
       if( schooLogo.style.margin = "0px") {
            schooLogo.style.margin = "auto"
       }
        var printContents = document.getElementById('divid').innerHTML
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
       await window.print();
    } catch (error) {
        console.error(error.message)
    }

 document.body.innerHTML = originalContents;  
   
$(document).ready(function() {

$("#downloader").click(function() {
  let schooLogo = document.querySelector(".body");
  if( schooLogo.style.margin = "auto") {
      schooLogo.style.margin = "0px"
  }
    var domNode = document.getElementById('htmlToimage');
    domtoimage.toPng(domNode, {quality: 1}).then(function (dataUrl) {
var link = document.createElement('a');
link.download = 'monitor_E-result.jpeg';
link.href = dataUrl;
link.click();

}).catch((err) => {
if(err) console.log( err)
})

})
})
}

   
$(document).ready(function() {

$("#downloader").click(function() {
  let schooLogo = document.querySelector(".body");
  if( schooLogo.style.margin = "auto") {
      schooLogo.style.margin = "0px"
  }
    var domNode = document.getElementById('htmlToimage');
    domtoimage.toPng(domNode, {quality: 1}).then(function (dataUrl) {
var link = document.createElement('a');
link.download = 'monitor_E-result.jpeg';
link.href = dataUrl;
link.click();

}).catch((err) => {
if(err) console.log( err)
})

})
})
</script>

<style>
    .nowing {
        margin-top: -20px;
        
    }
    .overall{
        color: blueviolet;
    }
</style>