<%- include ("./include/header.ejs") %> 
<%- include ("./include/_dash_board.ejs") %> 
  <%- include ('./partials/messages') %>
<div class="diverr">
    <h4><i class="fas fa-user-graduate"></i> Learner of the Week</h4>
    <div class="direct">
        <a href="/admin/carear-page" class="btn border-shadow"><i class="fas fa-arrow-left"></i> Back</a>
    </div>

    <div class="form_for_create">
      
        
        <!-- Learner of the Week Form -->
        <form id="learnerForm" action="/admin/create-learner-of-the-week" method="POST">
            <div class="all-single-form">
                <div class="mb-3">

                    <div class="hop">
                        <label for="name">Learner's Name:</label>
                        <select name="name" id="" required>
                            <option value="">-- Select Learner --</option>
                            <% learners.forEach(learner => { %>
                                <% let learn = '' %>
                                <% if(learner.middle_name) {%>
                                    <% learn = learner.middle_name %>
                                    <% } else {%>
                                        <% learn = '' %>
                                        <% } %>
                                <option value="<%= learner.first_name + ' ' + learn + ' ' + learner.last_name %>">
                                    <%= learner.first_name + ' ' + learn + ' ' + learner.last_name %> (Roll No: <%= learner.roll_no %>)
                                </option>
                            <% }) %>
                            </select>
                    </div>

                    <div class="hop">
                       <label for="rollno">Learner's Admin No:</label>
                        <select name="rollno" id="" required>
                            <option value="">-- Select Admin No --</option>
                            <% learners.forEach(learner => { %>
                                <option value="<%= learner.roll_no %>">
                                    <%= learner.roll_no %> 
                                </option>
                            <% }) %>
                        </select>
                    </div>

                    <div class="hop">
                        
                        <input type="hidden" name="skoolId" value="<%= user._id %>" />
                    </div>
                    <div class="hop">
                        <label for="description">Description:</label>
                        <select name="description" id="">
                            <option value="<%= existing.description %>"><%= existing.description %></option>
                            <option value="Learner of the Week">Learner of the Week</option>
                            <option value="Learner of the Month">Learner of the Month</option>
                        </select>
                       
                     <div class="hop">
                        <label for="hobbies">Hobbies:<h5 style="color: red;">use DOUBLE SPACING to seperate your choice</h5></label>
                        <textarea name="hobbies" placeholder="hobbies like reading, swimming etc" required><%= existing.hobbies %></textarea>
                    </div>
                     <div class="hop">
                        <label for="achievements">Reasons:<h5 style="color: red;">use DOUBLE SPACING to seperate your choice</h5></label>
                        <textarea name="achievements" placeholder="Why learner of the week?" required><%= existing.achievements %></textarea>
                    </div>
                     <div class="hop">
                        <label for="likes">Likes:<h5 style="color: red;">use DOUBLE SPACING to seperate your choice</h5></label>
                        <textarea name="likes" placeholder="what learner likes" required><%= existing.likes %></textarea>
                    </div>
                    <div class="hop">
                        <label for="dislikes">Disikes:<h5 style="color: red;">use DOUBLE SPACING to seperate your choice</h5></label>
                        <textarea name="dislikes" placeholder="what learner dislikes" required><%= existing.dislikes %></textarea>
                    </div>
                    <div class="hop">
                        <label for="futureGoals">Future Goals:<h5 style="color: red;">use DOUBLE SPACING to seperate your choice</h5></label>
                        <textarea name="futureGoals" placeholder="what learner ambitions and future goals" required><%= existing.futureGoals %></textarea>
                    </div>
                     <div class="hop">
                        <label for="quote">Quote:<h5 style="color: red;">use DOUBLE SPACING to seperate your choice</h5></label>
                       <textarea name="quote" placeholder="Inspiring quote by the staff" rows="" cols=""><%= existing.quote %></textarea>
                </div>
            </div>                                                
            <div class="mb-3">
                <input type="submit" value="Save Learner">
            </div>
        </form>
    </div> 




    <h4><i class="fas fa-user-graduate"></i> Teacher of the Week</h4>
    <div class="direct">
        <a href="/admin/get-all-learners-week/1" class="btn border-shadow"><i class="fas fa-arrow-left"></i> Back</a>
    </div>

    <div class="form_for_create">
      
        
        <!-- Learner of the Week Form -->
        <form id="learnerForm" action="/admin/create-teacher-of-the-month" method="POST">
            <div class="all-single-form">
                <div class="mb-3">

                    <div class="hop">
                        <label for="name">Teacher's Name:</label>
                        <select name="name" id="" required>
                            <option value="">-- Select staff --</option>
                            <% staffs.forEach(staff => { %>
                                <option value="<%= staff.name %>">
                                    <%= staff.name %>
                                </option>
                            <% }) %>
                            </select>
                    </div>

                    <div class="hop">
                       <label for="teacherId">staff's Admin No:</label>
                        <select name="teacherId" id="" required>
                            <option value="">-- Select Admin No --</option>
                            <% staffs.forEach(staff => { %>
                                <option value="<%= staff.admin_no %>">
                                    <%= staff.admin_no %> 
                                </option>
                            <% }) %>
                        </select>
                    </div>

                    <div class="hop">
                        
                        <input type="hidden" name="skoolId" value="<%= user._id %>" />
                    </div>
                    <div class="hop">
                        <label for="description">Description:</label>
                        <select name="description" id="">
                            <option value="<%=existings.description %>"><%=existings.description %></option>
                            <option value="staff of the Week">Staff of the Week</option>
                            <option value="staff of the Month">Staff of the Month</option>
                        </select>
                       
                     <div class="hop">
                        <label for="hobbies">Hobbies:<h5 style="color: red;">use DOUBLE SPACING to seperate your choice</h5> </label>
                        <textarea name="hobbies" placeholder="hobbies like reading, swimming etc" required><%= existings.hobbies %></textarea>
                    </div>
                     <div class="hop">
                        <label for="achievements">Reasons:<h5 style="color: red;">use DOUBLE SPACING to seperate your choice</h5> </label>
                        <textarea name="achievements" placeholder="Why staff of the week?" required><%= existings.achievements %></textarea>
                    </div>
                     <div class="hop">
                        <label for="likes">Likes:<h5 style="color: red;">use DOUBLE SPACING to seperate your choice</h5></label>
                        <textarea name="likes" placeholder="what staff likes" required><%= existings.likes %></textarea>
                    </div>
                    <div class="hop">
                        <label for="dislikes">Disikes:<h5 style="color: red;">use DOUBLE SPACING to seperate your choice</h5></label>
                        <textarea name="dislikes" placeholder="what staff dislikes" required><%= existings.dislikes %></textarea>
                    </div>
                    <div class="hop">
                        <label for="subject">Subject:<h5 style="color: red;">use DOUBLE SPACING to seperate your choice</h5></label>
                        <textarea name="subject" placeholder="what staff ambitions and Subject" required><%= existings.subject %></textarea>
                    </div>
                     <div class="hop">
                        <label for="quote">Quote:<h5 style="color: red;">use DOUBLE SPACING to seperate your choice</h5></label>
                       <textarea name="quote" placeholder="Inspiring quote by the staff" rows="" cols=""><%= existings.quote %></textarea>
                </div>
            </div>                                                
            <div class="mb-3">
                <input type="submit" value="Save staff">
            </div>
        </form>
    </div> 


     <h4><i class="fas fa-user-graduate"></i>Create Job</h4>
    <div class="direct">
        <a href="/admin/get-all-learners-week/1" class="btn border-shadow"><i class="fas fa-arrow-left"></i> Back</a>
    </div>

    <div class="form_for_create">
      
        
        <!-- Learner of the Week Form -->
        <form id="learnerForm" action="/admin/career-builder" method="POST">
            <div class="all-single-form">
                <div class="mb-3">

                    <div class="hop">
                        <label for="jobName">Job Title:</label>
                        <input type="text" name="jobName"  />
                    </div>
                   
                     
                     <div class="hop">
                        <label for="jobDescription">JobDescription: <h5 style="color: red;">use DOUBLE SPACING to seperate your choice</h5></label>
                        <textarea name="jobDescription" placeholder="list the job deccrptions and use double to seperate them" required></textarea>
                    </div>
                   
                </div>
            </div>                                                
            <div class="mb-3">
                <input type="submit" value="Save staff">
            </div>
        </form>
    </div> 
</div>


<footer class="foot">
    <h3>All rights reserved and Powered by Dark theme code <i class="fas fa-copyright"></i> 2024</h3>
</footer>   

<script>

</script>

<%- include ("./include/footer.ejs") %>
