<%- include ("../website/include/header.ejs") %>     
<!--====== SLIDER PART START ======-->
    
    <section id="slider-part" class="slider-active">
        <% if (event.length > 0) { %>
             <% for ( var i = 0; i < event.length; i++) {%>
            <div class="single-slider bg_cover pt-150" style="background-image: url('<%= event[0].img.url %>');" data-overlay="4">
              <div class="container">
                <div class="row">
                  <div class="col-xl-7 col-lg-9">
                    <div class="slider-cont">
                      <h1 data-animation="bounceInLeft" data-delay="1s"><%= event[0].event_name %></h1>
                      <p data-animation="fadeInUp" data-delay="1.3s"><%= event[0].excerpt %></p>
                      <ul>
                        <li><a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" href="/single-event/<%= event[0].dates %>/<%= event[0].slug%>">Read More</a></li>
                        <li><a data-animation="fadeInUp" data-delay="1.9s" class="main-btn main-btn-2" href="#"><%= event[0].event_type %></a></li>
                      </ul>
                    </div>
                  </div>
                </div> <!-- row -->
              </div> <!-- container -->
            </div> <!-- single slider -->
            <% } %>
          <% } %>
          
          <% if (blog.length > 0) { %> 
            <% for ( var i = 0; i < blog.length; i++  ) {%>
        <div class="single-slider bg_cover pt-150" style="background-image: url('<%= blog[i].img.url %>')" data-overlay="4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-9">
                        <div class="slider-cont">
                            <h1 data-animation="bounceInLeft" data-delay="1s"><%= blog[i].headline %></h1>
                            <p data-animation="fadeInUp" data-delay="1.3s"><%= blog[i].excerpt %></p>
                            <ul>
                                <li><a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" href="/single-blog/<%= blog[i]._id %>/<%= blog[i].slug %>">Read More</a></li>
                                <li><a data-animation="fadeInUp" data-delay="1.9s" class="main-btn main-btn-2"><%= blog[i].category %> News</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- single slider -->
        <% } %>
        <% } %>
        <div class="single-slider bg_cover pt-150" style="background-image: url(/slider/s-3.jpg)" data-overlay="4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-9">
                        <div class="slider-cont">
                            <h1 data-animation="bounceInLeft" data-delay="1s">Choose the right theme for education</h1>
                            <p data-animation="fadeInUp" data-delay="1.3s">Donec vitae sapien ut libearo venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt  Sed fringilla mauri amet nibh.</p>
                            <ul>
                                <li><a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" href="#">Read More</a></li>
                                <li><a data-animation="fadeInUp" data-delay="1.9s" class="main-btn main-btn-2" href="#">Get Started</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- single slider -->
    </section>
    
    <!--====== SLIDER PART ENDS ======-->
   
    <!--====== CATEGORY PART START ======-->
    
    <section id="category-part">
        <div class="container">
            <div class="category pt-40 pb-80">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="category-text pt-40">
                            <h2>Best platform to learn everything</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-8 offset-2">
                        <div class="row category-slied mt-40">
                            <div class="col-lg-4">
                                <a href="#">
                                    <span class="singel-category text-center color-1">
                                        <span class="icon">
                                            <img src="/all-icon/ctg-1.png" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>Language</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="#">
                                    <span class="singel-category text-center color-2">
                                        <span class="icon">
                                            <img src="/all-icon/ctg-2.png" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>Business</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="#">
                                    <span class="singel-category text-center color-3">
                                        <span class="icon">
                                            <img src="/all-icon/ctg-3.png" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>Literature</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="#">
                                    <span class="singel-category text-center color-1">
                                        <span class="icon">
                                            <img src="/all-icon/ctg-1.png" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>Language</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="#">
                                    <span class="singel-category text-center color-2">
                                        <span class="icon">
                                            <img src="/all-icon/ctg-2.png" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>Business</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a href="#">
                                    <span class="singel-category text-center color-3">
                                        <span class="icon">
                                            <img src="/all-icon/ctg-3.png" alt="Icon">
                                        </span>
                                        <span class="cont">
                                            <span>Literature</span>
                                        </span>
                                    </span> <!-- singel category -->
                                </a>
                            </div>
                        </div> <!-- category slied -->
                    </div>
                </div> <!-- row -->
            </div> <!-- category -->
        </div> <!-- container -->
    </section>
    
    <!--====== CATEGORY PART ENDS ======-->
   
    <!--====== ABOUT PART START ======-->
    
    <section id="about-part" class="pt-65">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title mt-50">
                        <h5>About us</h5>
                        <h2>Welcome to <%= school_name %> </h2>
                    </div> <!-- section title -->
                    <div class="about-cont">
                        <p><%= about %></p>
                       
                    </div>
                </div> <!-- about cont -->
                <div class="col-lg-6 offset-lg-1">
                    <div class="about-event mt-50">
                        <div class="event-title">
                            <h3>Upcoming events</h3>
                        </div> <!-- event title -->
                        <ul>
                            <% event.forEach( events => { %>
                           
                            <li>
                                <div class="singel-event">
                                    <%  %>
                                    <% const dating = events.dates %>
                                    <% const date = new Date(dating)  %>
                                    <% const options = { day: 'numeric', month: 'long', year: 'numeric' }; %>
                                    <span class="date"><i class="fa fa-calendar"></i><%= date.toLocaleDateString('en-US', options) %></span>          
                                    <a href="/single-event/<%= events.dates %>/<%= events.slug %>"><h4><%= events.event_name %></h4></a>
                                    <span><i class="fa fa-clock-o"></i> 10:00 Am - 3:00 Pm</span>
                                    <span><i class="fa fa-map-marker"></i> <%= events.venue %></span>
                                </div>
                            </li>
                      <% }) %>
                            
                        </ul> 
                    </div> <!-- about event -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="about-bg">
            <img src="<%= img.url %>" alt="About">
        </div>
    </section>
    
    <!--====== ABOUT PART ENDS ======-->
   
    <!--====== APPLY PART START ======-->
    <% if (learner && teacher) {%>
    <section id="apply-aprt" class="pb-120">
      
        <div class="container">
             
            <div class="apply">
                 <h2>Our Current Icons </h2>
                <div class="row no-gutters">
                    <div class="col-lg-6">
                        
                        <div class="apply-cont apply-color-1">
                            <div class="image" style="background: whitesmoke; width: 115px; height: 115px; border-radius: 7px; display: flex;justify-content: center;align-items: center;">
                                <img style="width: 100px; height:100px; border-radius: 5px; border-bottom: 50px;" src="<%= learnerReal.img.url ? learnerReal.img.url : "https://res.cloudinary.com/dj6xdawqc/image/upload/v1756586318/emblems_qgaxgk.jpg" %>" alt="Teachers">
                            </div>
                            <h3><%= learner.description %></h3>
                            <a href="teachers-singel.html" style="color: aliceblue;"><%= learner.name %></a><br/><br/>
                            <a href="#" class="main-btn">View Learners' Details</a>
                            
                        </div> <!-- apply cont -->
                    </div>
                    <div class="col-lg-6">
                        <div class="apply-cont apply-color-2">
                            <div class="image" style="background: whitesmoke; width: 115px; height: 115px; border-radius: 7px; display: flex; justify-content: center; align-items: center;">
                                <img style="width: 100px; height: 100px; border-radius: 5px;" src="<%= teacherReal.img.url ? teacherReal.img.url : "https://res.cloudinary.com/dj6xdawqc/image/upload/v1756586318/emblems_qgaxgk.jpg"  %>" alt="Teachers">
                            </div>
                            <h3><%= teacher.description %> </h3>
                              <a href="teachers-singel.html" style="color: aliceblue;"><%= teacher.name %></a><br/><br/>
                            <a href="#" class="main-btn">View Staff' Details</a>
                        </div> <!-- apply cont -->
                    </div> 
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    <% } %>
    <!--====== APPLY PART ENDS ======-->
   
   
    <!--====== VIDEO FEATURE PART START ======-->
    
    <!-- <section id="video-feature" class="bg_cover pt-60 pb-110" style="background-image: url('images/bg-1.jpg')">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-last order-lg-first">
                    <div class="video text-lg-left text-center pt-50">
                        <a class="Video-popup" href="https://www.youtube.com/watch?v=bRRtdzJH1oE"><i class="fa fa-play"></i></a>
                    </div> 
                </div>
                <div class="col-lg-5 offset-lg-1 order-first order-lg-last">
                    <div class="feature pt-50">
                        <div class="feature-title">
                            <h3>Our Facilities</h3>
                        </div>
                        <ul>
                            <li>
                                <div class="singel-feature">
                                    <div class="icon">
                                        <img src="/all-icon/f-1.png" alt="icon">
                                    </div>
                                    <div class="cont">
                                        <h4>Global Certificate</h4>
                                        <p>Gravida nibh vel velit auctor aliquetn auci elit cons solliazcitudirem sem quibibendum sem nibhutis.</p>
                                    </div>
                                </div> 
                            </li>
                            <li>
                                <div class="singel-feature">
                                    <div class="icon">
                                        <img src="/all-icon/f-2.png" alt="icon">
                                    </div>
                                    <div class="cont">
                                        <h4>Alumni Support</h4>
                                        <p>Gravida nibh vel velit auctor aliquetn auci elit cons solliazcitudirem sem quibibendum sem nibhutis.</p>
                                    </div>
                                </div> 
                            </li>
                            <li>
                                <div class="singel-feature">
                                    <div class="icon">
                                        <img src="/all-icon/f-3.png" alt="icon">
                                    </div>
                                    <div class="cont">
                                        <h4>Books & Library</h4>
                                        <p>Gravida nibh vel velit auctor aliquetn auci elit cons solliazcitudirem sem quibibendum sem nibhutis.</p>
                                    </div>
                                </div> 
                            </li>
                        </ul>
                    </div> 
                </div>
            </div> 
        </div> 
        <div class="feature-bg"></div> 
    </section>
     -->
    <!--====== VIDEO FEATURE PART ENDS ======-->
   
    <!--====== TEACHERS PART START ======-->
    
    <section id="teachers-part" class="pt-70 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title mt-50">
                        <h5>Featured Teachers</h5>
                        <h2>Meet Our teachers</h2>
                    </div> <!-- section title -->
                    <div class="teachers-cont">
                        <% if (career) {%>
                        <% career.split(/\r?\n/).forEach(p => { %>
                                <% if (p.trim()) { %>
                                <p><%= p %></p>
                                <% } %>
                            <% }) %>
                            <% } %>
                        <a href="/carear" class="main-btn mt-55">Career with us</a>
                    </div> <!-- teachers cont -->
                </div>
             <% if(staff) {%>
                <div class="col-lg-6 offset-lg-1">
                    <div class="teachers mt-20">
                        <div class="row">

                             <% staff.forEach(s => { %>
                            <div class="col-sm-6"> 
                                <div class="singel-teachers mt-30 text-center">
                                    <div class="image">
                                        <img src="<%= s.img.url ? s.img.url : "https://res.cloudinary.com/dj6xdawqc/image/upload/v1756586318/emblems_qgaxgk.jpg" %>" alt="Teachers">
                                    </div>
                                    <div class="cont">
                                        <a href="/profile/<%= s._id %>/<%= s.name %>"><h6><%= s.name %></h6></a>
                                        <span>Vice chencelor</span>
                                    </div>
                                </div> <!-- singel teachers -->  
                            </div>
                            <% }) %>

                        </div> <!-- row -->
                    </div> <!-- teachers -->
                </div>
                <% } %>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== TEACHERS PART ENDS ======-->
   
   
    <!--====== TEASTIMONIAL PART START ======-->
    
    <section id="testimonial" class="bg_cover pt-115 pb-115" data-overlay="8" style="background-image: url(images/bg-2.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title pb-40">
                        <h5>Testimonial</h5>
                        <h2>What they say</h2>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row testimonial-slied mt-40">
                <div class="col-lg-6">
                    <div class="singel-testimonial">
                        <div class="testimonial-thum">
                            <img src="/testimonial/t-1.jpg" alt="Testimonial">
                            <div class="quote">
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="testimonial-cont">
                            <p>Aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet sem nibh id elit sollicitudirem </p>
                            <h6>Rubina Helen</h6>
                            <span>Bsc, Engineering</span>
                        </div>
                    </div> <!-- singel testimonial -->
                </div>
                <div class="col-lg-6">
                    <div class="singel-testimonial">
                        <div class="testimonial-thum">
                            <img src="/testimonial/t-2.jpg" alt="Testimonial">
                            <div class="quote">
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="testimonial-cont">
                            <p>Aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet sem nibh id elit sollicitudirem </p>
                            <h6>Rubina Helen</h6>
                            <span>Bsc, Engineering</span>
                        </div>
                    </div> <!-- singel testimonial -->
                </div>
                <div class="col-lg-6">
                    <div class="singel-testimonial">
                        <div class="testimonial-thum">
                            <img src="/testimonial/t-3.jpg" alt="Testimonial">
                            <div class="quote">
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="testimonial-cont">
                            <p>Aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet sem nibh id elit sollicitudirem </p>
                            <h6>Rubina Helen</h6>
                            <span>Bsc, Engineering</span>
                        </div>
                    </div> <!-- singel testimonial -->
                </div>
            </div> <!-- testimonial slied -->
        </div> <!-- container -->
    </section>
    
    <!--====== TEASTIMONIAL PART ENDS ======-->
   
    <!--====== NEWS PART START ======-->
    
    <section id="news-part" class="pt-115 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title pb-50">
                        <h5>Latest News</h5>
                        <h2>From the news</h2>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <% if(oneBlog) {%>
                <div class="col-lg-6">
                    <div class="singel-news mt-30">
                        <div class="news-thum pb-25">
                            <img src="<%= oneBlog.img.url %>" alt="News">
                        </div>
                        <div class="news-cont">
                            <ul>
                                <% const dating = oneBlog.createdAt %>
                                <% const date = new Date(dating)  %>
                                <% const options = { day: 'numeric', month: 'long', year: 'numeric' }; %>
                                <li><a href="#"><i class="fa fa-calendar"></i><%= date.toLocaleDateString('en-US', options) %> </a></li>
                                <li><a href="#"> <span>By</span> <%= oneBlog.author %></a></li>
                            </ul>
                            <a href="/single-blog/<%= oneBlog._id %>/<%= oneBlog.slug %>"><h3><%= oneBlog.headline %></h3></a>
                             <% if (oneBlog && oneBlog.content) { %>
                                <% var blogger = oneBlog.content.split(' ').slice(0, 40).join(' ') %>
                            <% blogger.split(/\r?\n/).forEach(p => { %>
                                <% if (p.trim()) { %>
                                <p><%= p %>...</p>
                                <% } %>
                            <% }) %>
                            <% } %>
                        </div>
                    </div> <!-- singel news -->
                </div>
                <% } %>
                <div class="col-lg-6">
                    <% if(allBlog && allBlog.length) {%>
                        <% for(var i = 0; i < allBlog.length; i++) {%>
                    <div class="singel-news news-list">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="news-thum mt-30">
                                    <img src="<%= allBlog[i].img.url %>" alt="News">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="news-cont mt-30">
                                    <ul>
                                          <% const dating = allBlog[i].createdAt %>
                                            <% const date = new Date(dating)  %>
                                            <% const options = { day: 'numeric', month: 'long', year: 'numeric' }; %>
                                        <li><a href="#"><i class="fa fa-calendar"></i><%= date.toLocaleDateString('en-US', options) %></a></li>
                                        <li><a href="#"> <span>By</span><%= allBlog[i].author %></a></li>
                                    </ul>
                                    <a href="/single-blog/<%= allBlog[i]._id %>/<%= allBlog[i].slug %>"><h3><%= allBlog[i].headline.split(' ').slice(0, 4).join(' ') %>...</h3></a>
                                      <% if (allBlog[i] && allBlog[i].content) { %>
                                <% var blogger = allBlog[i].content.split(' ').slice(0, 20).join(' ') %>
                            <% blogger.split(/\r?\n/).forEach(p => { %>
                                <% if (p.trim()) { %>
                                <p><%= p %>...</p>
                                <% } %>
                            <% }) %>
                            <% } %>
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div>
                    <% } %> <!-- singel news -->
                    <% } %>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== NEWS PART ENDS ======-->
   
    <!--====== PATNAR LOGO PART START ======-->
    
    <div id="patnar-logo" class="pt-40 pb-80 gray-bg">
      
        <div class="container">
            <div class="section-title pb-50">
                <h5>Schools Using Monitrex</h5>
            </div> 
            <div class="row patnar-slied">
               <% allschool.forEach(schools => { %>
                <div class="col-lg-12">
                    <div class="singel-patnar text-center mt-40">
                        <img src="<%= schools.img.url %>" alt="Logo" width="150">
                    </div>
                </div>
                <% }) %>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> 
    
    <!--====== PATNAR LOGO PART ENDS ======-->
   
    <%- include ("../website/include/footer.ejs") %> 