
<%- include ("../website/include/header.ejs") %>   
<!--====== PAGE BANNER PART START ======-->
    
    <section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url('https://res.cloudinary.com/idrynod-001/image/upload/v1757151436/employee-career-word_rlcixu.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>Career With Us</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Career</li>
                            </ol>
                        </nav>
                    </div>  <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== PAGE BANNER PART ENDS ======-->
   
    <!--====== ABOUT PART START ======-->
    
    <section id="about-page" class="pt-70 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title mt-50">
                        <h5>Career With Us</h5>
                        <h2>Welcome to Our Career Page </h2>
                       
                    </div> <!-- section title -->
                   
                    
                    <div class="about-cont">
                        <% if (career) { %>
                            <% career.split(/\r?\n/).forEach(p => { %>
                                <% if (p.trim()) { %>
                                <p><%= p %></p>
                                <% } %>
                            <% }) %>
                            <% } %>
                        <p> 
                            Explore the exciting career opportunities at <%= school_name %>. We are currently hiring for the<br> 
                            following position(s).
                        </p>
                         <% if (carear && carear.length > 0) { %>
                            <ol class="ol">
                            <% carear.forEach(car => { %>
                            <li style="font-weight: bold;color: rgb(65, 198, 12);"> <%= car.jobName %>:</li>
                                <ul class="ul">
                                    <h5>Job Description(s)</h5>
                                   <% car.jobDescription.forEach((job) => { %>
                                        <li><%= job %></li>
                                        <% }) %>
                                    
                                </ul>
                                 <% }) %>
                            </ol>

                              <div class="row">
          <h2>How to Apply:</h2>
          <p class="mail">
            To apply for any of the positions listed above, please send your resume and cover letter to<br> 
           <a href="mailto:<%= email %>"><%= email %></a>. Be sure to include the position title in the subject line.
          </p>
  
          <p>
            <%= school_name %> is an equal opportunity employer. We celebrate diversity and are committed to<br>
             creating an inclusive environment for all employees.
          </p>
  
          <p>
            Join us at <%= school_name %>, where your career takes flight, and your contributions make a lasting <br>
            impact. Together, let's build a future we can be proud of.
          </p>
        </div>
                               
                <% } else { %>
                    <p>Currently, there is no vacancy. Please check back later</p>
                <% } %>

                 
                       
                    </div>

                    <style>
                        .ol {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            margin-top: 30px;
                        }

                        .ul {
                             display: flex;
                            flex-direction: column;  
                            padding: 10px;  
                            list-style-type: disc;     
        
                        }
                        .ul li  {
                            padding: 10px;
                        }
                    </style>
                
                </div>
                <div class="col-lg-7">
                    <div class="about-image mt-50">
                        <img src="https://res.cloudinary.com/idrynod-001/image/upload/v1757151436/employee-career-word_rlcixu.jpg" alt="About">
                    </div>  <!-- about imag -->
                </div> 
            </div> <!-- row -->
            <div class="about-items pt-60">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-10">
                        <div class="about-singel-items mt-30">
                            <span>01</span>
                            <h4>Why Choose us</h4>
                              <% if (core_value) { %>
                            <% core_value.split(/\r?\n/).forEach(p => { %>
                                <% if (p.trim()) { %>
                                <p><%= p %></p>
                                <% } %>
                            <% }) %>
                            <% } %>
                        </div> <!-- about singel -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10">
                        <div class="about-singel-items mt-30">
                            <span>02</span>
                            <h4>Our Mission</h4>
                              <% if (mission) { %>
                            <% mission.split(/\r?\n/).forEach(p => { %>
                                <% if (p.trim()) { %>
                                <p><%= p %></p>
                                <% } %>
                            <% }) %>
                            <% } %>
                        </div> <!-- about singel -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10">
                        <div class="about-singel-items mt-30">
                            <span>03</span>
                            <h4>Our vission</h4>
                              <% if (vision) { %>
                            <% vision.split(/\r?\n/).forEach(p => { %>
                                <% if (p.trim()) { %>
                                <p><%= p %></p>
                                <% } %>
                            <% }) %>
                            <% } %>
                        </div> <!-- about singel -->
                    </div>
                </div> <!-- row -->
            </div> <!-- about items -->
        </div> <!-- container -->
    </section>
    
    <!--====== ABOUT PART ENDS ======-->

    <!--====== COUNTER PART START ======-->
    
    <div id="counter-part" class="bg_cover pt-65 pb-110" data-overlay="8" style="background-image: url(images/bg-2.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-counter text-center mt-40">
                        <span><span class="counter"><%= totalLearner %></span>+</span>
                        <p>Students enrolled</p>
                    </div> <!-- singel counter -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-counter text-center mt-40">
                        <span><span class="counter"><%=  totalSubject %></span>+</span>
                        <p>Courses/Subject Uploaded</p>
                    </div> <!-- singel counter -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-counter text-center mt-40">
                        <span><span class="counter"><%= totalPastLearner %></span>+</span>
                        <p>People certified</p>
                    </div> <!-- singel counter -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-counter text-center mt-40">
                        <span><span class="counter"><%= totalTeacher %></span>+</span>
                        <p>Global Teachers</p>
                    </div> <!-- singel counter -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
    
    <!--====== COUNTER PART ENDS ======-->
   
    <!--====== TEACHERS PART START ======-->
    
    <section id="teachers-part" class="pt-65 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title mt-50 pb-35">
                        <h5>Featured Staffs</h5>
                        <h2>Meet Our Staffs</h2>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
              <% if(staff && staff.length) {%>
                <div class="col-lg-3 col-sm-6">
                     <% staff.forEach(staffs => { %>
                    <div class="singel-teachers mt-30 text-center">
                       
                        <div class="image">
                            <img src="<%= staffs && staffs.img.url ? staffs.img.url : 'https://res.cloudinary.com/idrynod-001/image/upload/v1756835528/emblems_jk6gea.jpg' %>" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="teachers-singel.html"><h6><%= staffs.name %></h6></a>
                            <span><%= staffs.position %></span>
                        </div>
                    </div> <!-- singel teachers -->
                        <% }) %>
                </div>
            
                <% } %>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== TEACHERS PART ENDS ======-->
   
    <!--====== TEASTIMONIAL PART START ======-->
    
    <section id="testimonial" class="bg_cover pt-115 pb-120" data-overlay="8" style="background-image: url(images/bg-2.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title pb-40">
                        <h5>Testimonial</h5>
                        <h2>What they say</h2>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row testimonial-slied mt-40">
                <div class="col-lg-6">
                    <div class="singel-testimonial">
                        <div class="testimonial-thum">
                            <img src="images/testimonial/t-1.jpg" alt="Testimonial">
                            <div class="quote">
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="testimonial-cont">
                            <p>Aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet sem nibh id elit sollicitudirem </p>
                            <h6>Rubina Helen</h6>
                            <span>Bsc, Engineering</span>
                        </div>
                    </div> <!-- singel testimonial -->
                </div>
                <div class="col-lg-6">
                    <div class="singel-testimonial">
                        <div class="testimonial-thum">
                            <img src="images/testimonial/t-2.jpg" alt="Testimonial">
                            <div class="quote">
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="testimonial-cont">
                            <p>Aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet sem nibh id elit sollicitudirem </p>
                            <h6>Rubina Helen</h6>
                            <span>Bsc, Engineering</span>
                        </div>
                    </div> <!-- singel testimonial -->
                </div>
                <div class="col-lg-6">
                    <div class="singel-testimonial">
                        <div class="testimonial-thum">
                            <img src="images/testimonial/t-3.jpg" alt="Testimonial">
                            <div class="quote">
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="testimonial-cont">
                            <p>Aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet sem nibh id elit sollicitudirem </p>
                            <h6>Rubina Helen</h6>
                            <span>Bsc, Engineering</span>
                        </div>
                    </div> <!-- singel testimonial -->
                </div>
            </div> <!-- testimonial slied -->
        </div> <!-- container -->
    </section>
    
    <!--====== TEASTIMONIAL PART ENDS ======-->

     <%- include ("../website/include/footer.ejs") %> 