<!doctype html>
<html lang="en">
<head>
   
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--====== Title ======-->
    <title><%= school_name %></title>

    <% if (typeof blog !== 'undefined' && blog && blog.img && blog.img.url) { %>
  <!-- Open Graph meta tags ... -->
  <meta property="og:title" content="<%= blog.headline %>" />
  <meta property="og:description" content="<%= blog.category %>" />
  <meta property="og:url" content="<%= typeof currentUrl !== 'undefined' ? currentUrl : '' %>" id="og-url" />


  <!-- Include images for sharing -->
  <meta property="og:image" content="<%= blog.img.url %>" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />

  <!-- Twitter Card meta tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="<%= blog.headline %>" />
  <meta name="twitter:description" content="<%= blog.category %>" />
  <meta name="twitter:image" content="<%= blog.img.url %>" />
<% } else { %>
  <!-- Default meta tags -->
  <meta property="og:title" content="Default Title" />
  <meta property="og:description" content="Default Description" />
  <meta property="og:url" content="<%= typeof currentUrl !== 'undefined' ? currentUrl : '' %>" id="og-url" />


  <!-- Include a default image for sharing -->
  <meta property="og:image" content="default-image-url.jpg" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />

  <!-- Twitter Card meta tags with default values -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Default Title" />
  <meta name="twitter:description" content="Default Description" />
  <meta name="twitter:image" content="default-image-url.jpg" />
<% } %>
    
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="<%= img.url %>" type="image/png">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="/csss/slick.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="/csss/animate.css">
    
    <!--====== Nice Select css ======-->
    <link rel="stylesheet" href="/csss/nice-select.css">
    
    <!--====== Nice Number css ======-->
    <link rel="stylesheet" href="/csss/jquery.nice-number.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="/csss/magnific-popup.css">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/csss/bootstrap.min.css">
    
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="/csss/font-awesome.min.css">
    
    <!--====== Default css ======-->
    <link rel="stylesheet" href="/csss/default.css">
    
    <!--====== Style css ======-->
    <link rel="stylesheet" href="/csss/style.css">
    
    <!--====== Responsive css ======-->
    <link rel="stylesheet" href="/csss/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

  
</head>

<body>
   
   <!--====== PRELOADER PART START ======-->
    
    <div class="preloader">
        <div class="loader rubix-cube">
            <div class="layer layer-1"></div>
            <div class="layer layer-2"></div>
            <div class="layer layer-3 color-1"></div>
            <div class="layer layer-4"></div>
            <div class="layer layer-5"></div>
            <div class="layer layer-6"></div>
            <div class="layer layer-7"></div>
            <div class="layer layer-8"></div>
        </div>
    </div>
    
    <!--====== PRELOADER PART START ======-->
   
    <!--====== HEADER PART START ======-->
      
    <header id="header-part">
       
        <div class="header-top d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header-contact text-lg-left text-center">
                            <ul>
                                <li><img src="/all-icon/map.png" alt="icon"><a href="https://www.google.com/maps/search/<%= encodeURIComponent(address + ', ' + city) %>" target="_blank"><span><%= address %></span></a></li>
                                <li><img src="/all-icon/map.png" alt="icon"><a href="https://www.google.com/maps/search/<%= encodeURIComponent(address2 + ', ' + city) %>" target="_blank"><span><%= address2 %></span></a></li>
                               
                                <li><img src="/all-icon/email.png" alt="icon"><a href="mailto:<%= email %>"><span><%= email %></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header-opening-time text-lg-right text-center">
                            <p>Opening Hours : <%= opening_day %> to <%= closing_day %> - <%= opening_hour  %> Am to <%= closing_hour %></p>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header top -->
        
        <div class="header-logo-support pt-30 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="logo">
                            <a href="/">
                                <img src="<%= img.url %>" alt="Logo" width="70">
                            </a>
                            <a style="font-weight: bolder; font-size: 20px; color: #07294d;"><span><%= school_name %></span></a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="support-button float-right d-none d-md-block">
                            <div class="support float-left">
                                <div class="icon">
                                    <img src="/all-icon/support.png" alt="icon">
                                </div>
                                <div class="cont">
                                    <p>Need Help? call us free</p>
                                    <a href="tel:<%= phone_no %>"><span><%= phone_no %></span></a><br>
                                    <a href="tel:<%= phone_no %>"><span><%= phone_no2 %></span></a>
                               
                                </div>
                            </div>
                            <div class="button float-left">
                                <a href="#" class="main-btn">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header logo support -->
        
        <div class="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a class="active" href="/">Home</a>
                                        <ul class="sub-menu">
                                            
                                            <li> <a href="/contact-us">Contact</a> </li>
                                            <!-- <!-- <li><a href="index-3.html">Home 02</a></li> -->
                                            <li><a href="/carear">Career</a></li> -->
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/about-us">About Us</a>
                                        <ul class="sub-menu">
                                            <li><a href="/about-us">Our Vision</a></li>
                                            <li><a href="/about-us">Our Mission</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/all-events">Events</a>
                                        <!-- <ul class="sub-menu">
                                            <li><a href="events.html">Events</a></li>
                                            <li><a href="events-singel.html">Event Singel</a></li>
                                        </ul> -->
                                    </li>
                                    <li class="nav-item">
                                        <a href="/all-staffs/">Our Staffs</a>
                                        <!-- <ul class="sub-menu">
                                            <li><a href="teachers.html">teachers</a></li>
                                            <li><a href="teachers-singel.html">teacher Singel</a></li>
                                        </ul> -->
                                    </li>
                                    <li class="nav-item">
                                        <a href="/blogs">Blog</a>
                                        <!-- <ul class="sub-menu">
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-singel.html">Blog Singel</a></li>
                                        </ul> -->
                                    </li>
                                    <!-- <li class="nav-item">
                                        <a href="shop.html">Shop</a>
                                        <ul class="sub-menu">
                                            <li><a href="shop.html">Shop</a></li>
                                            <li><a href="shop-singel.html">Shop Singel</a></li>
                                        </ul>
                                    </li> -->
                                    <li class="nav-item">
                                       
                                        <!-- <ul class="sub-menu">
                                            <li><a href="contact.html">Contact Us</a></li>
                                            <li><a href="contact-2.html">Contact Us 2</a></li>
                                        </ul> -->
                                    </li>
                                </ul>
                            </div>
                        </nav> <!-- nav -->
                    </div>
                   
                </div> <!-- row -->
            </div> <!-- container -->
        </div>
        
    </header>
    
    
    </div> 